<div>


  <div class="grid grid-flow-row grid-cols-1 auto-rows-max mt-2">
    <div class="overflow-x-auto rounded-md">
      <table class="max-w-full w-full rounded-md">
        <thead class="bg-gray-200">
          <tr>
            <th class="text-left p-2">{{ 'currency' | translate }}</th>
            <th class="text-right p-2">{{ 'price' | translate }}</th>
            <th class="text-right p-2">{{ 'Pool TVL' | translate }}</th>
            <th class="text-right p-2">{{ 'APR' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-gray-100 hover:bg-gray-200">
            <td class="p-2">BTC</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolBtc?.priceA"></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolBtc?.totalStaked "></app-price>
            </td>
            <td class="text-right p-2">
              {{poolBtc?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="hover:bg-gray-200">
            <td class="p-2">ETH</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolEth?.priceA"></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolEth?.totalStaked"></app-price>
            </td>
            <td class="text-right p-2">
              {{poolEth?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="bg-gray-100 hover:bg-gray-200">
            <td class="p-2">USDT</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolUsdt?.priceA "></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolUsdt?.totalStaked "></app-price>
            </td>
            <td class="text-right p-2">
              {{poolUsdt?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="hover:bg-gray-200">
            <td class="p-2">LTC</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolLtc?.priceA"></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolLtc?.totalStaked"></app-price>
            </td>
            <td class="text-right p-2">
              {{poolLtc?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="bg-gray-100 hover:bg-gray-200">
            <td class="p-2">DOGE</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolDoge?.priceA "></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolDoge?.totalStaked"></app-price>
            </td>
            <td class="text-right p-2">
              {{poolDoge?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="hover:bg-gray-200">
            <td class="p-2">BCH</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolBch?.priceA"></app-price>
            </td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolBch?.totalStaked"></app-price>
            </td>
            <td class="text-right p-2">
              {{poolBch?.apy | number: '1.2-2' }}%
            </td>
          </tr>

          <tr class="bg-gray-100 hover:bg-gray-200">
            <td class="p-2">DFI</td>
            <td class="text-right p-2">
              <app-price [fiat]="fiat" [usdPrice]="poolBtc?.priceB"></app-price>
            </td>
            <td class="text-right p-2"></td>
            <td class="text-right p-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid grid-flow-row grid-cols-1 auto-rows-max lg:grid-cols-2">
    <div class="mb-1 w-full sm:w-auto grid gap-2 auto-rows-max">
      <div>
        Rewards DFI/Block:
      </div>
      <div>
        <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
          Total {{rewards?.rewards?.total }}
        </span>
      </div>
      <div>
        <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
          LM {{rewards?.rewards?.liquidityPool }} / Mining {{rewards?.rewards?.minter }}
        </span>
      </div>
      <div>
        <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
          Anchor {{rewards?.rewards?.anchorReward }} / Community {{rewards?.rewards?.community }}
        </span>
      </div>
    </div>

    <div>
      <div class="mt-2 mr-2">
        <span class="mr-2">TVL:</span>
        <div class="inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
          <app-price [fiat]="fiat" [usdPrice]="dex?.tvl"></app-price>
        </div>
      </div>

      <div class="mt-2 mb-2">
        <span class="mr-2">Block:</span>
        <div class="inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
          {{ rewards?.blockHeight }}
        </div>
      </div>
    </div>
  </div>
</div>
