<div>
  <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4'>

    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <div class='inline-lg-block rounded bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
        <h1 class='text-lg font-bold'>TVL</h1>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='https://defiscan.live'>Defiscan</a>
        <br>
        <div class='grid gap-2'>
          <div>
            <span class='mr-2'>TVL Total:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='this.oceanStats?.data?.tvl?.total'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>TVL Masternodes:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='this.oceanStats?.data?.tvl?.masternodes'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>TVL DEX:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='oceanStats?.data?.tvl?.dex'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>TVL LOAN:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='oceanStats?.data?.tvl?.loan'></app-price>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <div class='inline-lg-block rounded bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
        <h1 class='text-lg font-bold'>DFI</h1>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='https://defiscan.live/dex'>Defiscan</a>
        <br>
        <div class='grid gap-2'>
          <div>
            <span class='mr-2'>DFI DEX locked:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{getDexDFI()  |  number: '1.2-2'}} -
              <app-price [fiat]='fiat' [usdPrice]='getDexDFI() * this.getCryptoPools()[0]?.priceB'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>DEX&Masternodes DFI Locked:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{getTotalDFILocked() |  number: '1.2-2'}} /
              <app-price [fiat]='fiat' [usdPrice]='getTotalDFILocked() * this.getCryptoPools()[0]?.priceB'></app-price>
            </div>
          </div>

          <div>
            <span class='mr-2'>Total DFI Burned:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{burnedDfi |  number: '1.2-2'}} /
              <app-price [fiat]='fiat' [usdPrice]='burnedDfi * this.getCryptoPools()[0]?.priceB'></app-price>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <div class='inline-lg-block rounded bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
        <h1 class='text-lg font-bold'>Vaults</h1>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='https://defiscan.live/vaults'>Defiscan</a>
        <br>
        <div class='grid gap-2'>
          <div>
            <span class='mr-2'>Collateral:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='this.oceanStats?.data?.loan?.value?.collateral'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>Loan:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              <app-price [fiat]='fiat' [usdPrice]='this.oceanStats?.data?.loan?.value?.loan'></app-price>
            </div>
          </div>
          <div>
            <span class='mr-2'>Total Ratio:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{this.oceanStats?.data?.loan?.value?.collateral/this.oceanStats?.data?.loan?.value?.loan * 100 |  number: '1.2-2'}} %
            </div>
          </div>
          <div>
            <span class='mr-2'>Vaults:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{this.oceanStats?.data?.loan?.count?.openVaults}}
            </div>
          </div>
          <div>
            <span class='mr-2'>Auctions:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{this.oceanStats?.data?.loan?.count?.openAuctions }}
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <h1 class='text-lg font-bold'>Staking</h1>
      <div class='mb-1 w-full grid gap-2 auto-rows-max'>
        <div class='w-full dark:text-gray-100'>
          Staking Cake:
          <span
            class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer'
          >
          {{ getAprFromApy(this.stakingApyMN) * 0.9  | number: '1.1-1' }}% APR  ~  {{ this.stakingApyCake | number: '1.1-1' }}% APY
        </span>
        </div>
        <div class='w-full dark:text-gray-100'>
          Staking Masternode:
          <div
            class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer inline-block'
          >
            {{ this.stakingApyMN | number: '1.1-1' }}% APR ~  {{ getApyWeeklyFromApr(this.stakingApyMN) | number: '1.1-1' }}%
            APY
          </div>
        </div>
        <div class='w-full dark:text-gray-100'>
          Staking 5Y Freezer:
          <div
            class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer inline-block'
          >
            {{ this.stakingApyMN * 1.5 | number: '1.1-1' }}% APR
            ~   {{ getApyWeeklyFromApr(this.stakingApyMN * 1.5) | number: '1.1-1' }}% APY
          </div>
        </div>
        <div class='w-full dark:text-gray-100'>
          Staking 10Y Freezer:
          <div
            class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer inline-block'
          >
            {{ this.stakingApyMN * 2 | number: '1.1-1' }}% APR
            ~    {{ getApyWeeklyFromApr(this.stakingApyMN * 2) | number: '1.1-1' }}% APY
          </div>
        </div>
      </div>

    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <h1 class='text-lg font-bold'>Masternodes</h1>
      <a class='text-pink-500 hover:underline'
         target='_blank'
         href='https://defiscan.live/masternodes'>Defiscan</a>
      <br>
      <div class='mb-1 w-full grid gap-2 auto-rows-max'>
        <div class='w-full dark:text-gray-100'>
          Total:
          <div
            class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
          >
            {{ MNCount }} / {{ MNCount * 20000 / 1000000 }} Mio. DFI /
            <app-price [fiat]='fiat' [usdPrice]='this.oceanStats?.data?.tvl?.masternodes'></app-price>
          </div>
        </div>
        <div class='w-full dark:text-gray-100'>
          5Y Freezer:
          <div
            class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
          >
            {{ MNCount5Freezer }} /  {{ MNCount5Freezer * 20000 / 1000000 }} Mio. DFI
            /
            <app-price [fiat]='fiat' [usdPrice]='this.MNCount5Freezer * 20000  * this.getCryptoPools()[0]?.priceB'></app-price>
          </div>
        </div>
        <div class='w-full dark:text-gray-100'>
          10Y Freezer:
          <div
            class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
          >
            {{ MNCount10Freezer }} /  {{ MNCount10Freezer * 20000 / 1000000 }} Mio. DFI
            /
            <app-price [fiat]='fiat' [usdPrice]='this.MNCount10Freezer * 20000  * this.getCryptoPools()[0]?.priceB'></app-price>
          </div>
        </div>
        <div class='w-full dark:text-gray-100'>
          0Y Freezer:
          <div
            class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
          >
            {{ MNCount0Freezer }} /  {{ MNCount0Freezer * 20000 / 1000000 }} Mio. DFI
            /
            <app-price [fiat]='fiat' [usdPrice]='this.MNCount0Freezer * 20000  * this.getCryptoPools()[0]?.priceB'></app-price>
          </div>
        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <h1 class='text-lg font-bold'>Block Rewards in DFI</h1>
      <div class='mb-2'>
        Total:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
        >
          {{rewards?.rewards?.total |  number: '1.2-2'  }}
        </div>
      </div>
      <div class='mb-2'>
        LM:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{rewards?.rewards?.liquidity |  number: '1.2-2' }}
        </div>
        LM Stocks:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{rewards?.rewards?.liquidityStocks |  number: '1.2-2'  }} </div>
      </div>
      <div class='mb-2'>
        Masternode:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{rewards?.rewards?.minter |  number: '1.2-2'  }} </div>
      </div>
      <div>
        Anchor:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
        >
          {{rewards?.rewards?.anchor |  number: '1.2-2'  }}
        </div>
        Community:
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'
        >
          {{rewards?.rewards?.community |  number: '1.2-2'  }}</div>

      </div>
    </div>
    <div class='inline-lg-block rounded bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
      <h1 class='text-lg font-bold'>Block</h1>
      <a class='text-pink-500 hover:underline'
         target='_blank'
         href='https://defiscan.live/blocks'>Defiscan</a>
      <br>
      <div class='my-2 dark:text-gray-100'>
        <span class='mr-2'>Block:</span>
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{ rewards?.blockHeight }}
        </div>
      </div>
      <div class='my-2 dark:text-gray-100'>
          <span
            class='mr-2'>Blocktime ({{ 'blocktime' | translate: { count: blockCountForCalc === -1 ? 'Fix 30s' : blockCountForCalc } }}
            ):</span>
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          Avg {{blockTimeUsed ? blockTimeUsed : 0}} s (Median {{ blockTimeSecond ? blockTimeSecond : 0}} s)
        </div>
      </div>
      <div class='my-2 dark:text-gray-100'>
        <span class='mr-2'>{{ 'blocksTillCycle' | translate }}</span>
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{getBlockToNextCycle()}}
        </div>
      </div>
      <div class='my-2 dark:text-gray-100'>
        <span class='mr-2'>{{ 'blocksTillDiff' | translate }}</span>
        <div
          class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
          {{getBlockToNextDiffChange()}}
        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2 max-h-96 overflow-auto'>
      <div class='inline-lg-block rounded bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
        <h1 class='text-lg font-bold'>Defichain Income Statistics</h1>
        <div class='grid gap-2'>
          <div>
            <span class='mr-2'>Active Users:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{incomeStatistics?.users}}
            </div>
          </div>
          <div>
            <span class='mr-2'>Monitored Adresses:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{incomeStatistics?.addresses}}
            </div>
          </div>
          <div>
            <span class='mr-2'>Monitored Masternodes:</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{incomeStatistics?.addressesMasternodes}}
            </div>
          </div>
          <div>
            <span class='mr-2'>⌀ Visitors per Day</span>
            <div
              class='inline-block rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer text-center'>
              {{incomeStatistics?.visits}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4'>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
      <div class='max-h-96 overflow-auto'>
        <h1 class='text-lg font-bold'>Next Upgrades</h1>
        <div *ngFor='let m of milestones'>
          <div class='mb-1 w-full sm:mr-4'>
            <span
              class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer'>
              {{ m.title }} -
              <span>{{m.closed_issues / (m.closed_issues + m.open_issues) * 100 | number: '1.0-0' }} %</span>

            </span>
            <br>
            <a class='text-pink-500 hover:underline'
               target='_blank'
               href='{{m?.html_url}}'>Github</a>
            <br>
            <span>{{m.closed_issues}} &#9989; - {{m.open_issues}} &#9203;</span>
            <br>
            <span class='text-sm'>{{ m.description}}</span>
            <br>
            <span class='text-sm'>{{ m.updated_at | date}} last update</span>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
      <div class='max-h-96 overflow-auto'>
        <h1 class='text-lg font-bold'>Node</h1>
        <span
          class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer'>
              {{ getLatestReleaseNode()?.name }}
            </span>
        <br>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='{{getLatestReleaseNode()?.html_url}}'>Github</a>
        <br>
        <span class='text-sm'>{{ getLatestReleaseNode()?.published_at | date}}</span>
        <br>
        <markdown class='prose-sm dark:prose-white' [data]='getReleaseText(getLatestReleaseNode()?.body)'></markdown>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
      <div class='max-h-96 overflow-auto'>
        <h1 class='text-lg font-bold'>Desktop App</h1>
        <span
          class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer'>
              {{ getLatestReleaseApp()?.name }}
            </span>
        <br>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='{{getLatestReleaseApp()?.html_url}}'>Github</a>
        <br>
        <span class='text-sm'>{{ getLatestReleaseApp()?.published_at | date}}</span>
        <br>
        <markdown class='prose-sm dark:prose-white' [data]='getLatestReleaseApp()?.body'></markdown>
      </div>
    </div>
    <div class='rounded-lg bg-gray-100 dark:bg-gray-600 dark:text-white p-2'>
      <div class='max-h-96 overflow-auto'>
        <h1 class='text-lg font-bold'>Mobile Light Wallet</h1>
        <span
          class='rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer'>
              {{ getLatestReleaseWallet()?.name }}
            </span>
        <br>
        <a class='text-pink-500 hover:underline'
           target='_blank'
           href='{{getLatestReleaseWallet()?.html_url}}'>Github</a>
        <br>
        <span class='text-sm'>{{ getLatestReleaseWallet()?.published_at | date}}</span>
        <br>
        <markdown class='prose-sm dark:prose-white'
                  [data]='getReleaseTextWallet(getLatestReleaseWallet()?.body)'></markdown>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class='mt-2'>
    <div class='overflow-x-auto rounded-md my-4'>
      <table class='max-w-full w-full rounded-md'>
        <thead class='bg-gray-200 dark:bg-gray-800 dark:text-pink-500 dark:border-pink-500 border-b'>
        <tr>
          <th class='text-left p-2'>Pool</th>
          <th class='text-right p-2'>{{ 'price' | translate }}</th>
          <th class='text-right p-2'>{{ 'Pool TVL' | translate }}</th>
          <th class='text-right p-2'>{{ 'LP Token' | translate }}</th>
          <th class='text-right p-2'>Pool {{ 'correlation' | translate}}
            ({{correlationDays}} {{ 'correlationDay' | translate}})
          </th>
          <th class='text-right p-2'>{{ 'APR' | translate }}</th>
          <th class='text-right p-2'>{{ 'APY (Weekly)' | translate }}</th>
        </tr>
        </thead>
        <tbody>


        <tr *ngFor='let cryptoPool of getCryptoPools(); let i = index'
            [ngClass]=" i % 2 ?  'dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600'
             : 'dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600 bg-gray-100 dark:bg-gray-700' ">

          <td class='p-2'>{{cryptoPool?.symbol}}</td>
          <td class='text-right text-sm p-2'>
            CEX: <app-price [fiat]='fiat' [usdPrice]='cryptoPool?.priceA '></app-price> /
            DEX: <app-price [fiat]='fiat' [usdPrice]='cryptoPool?.totalLiquidityUsd / 2 / cryptoPool?.reserveA '></app-price>
            Premium: <span>{{getArb(cryptoPool?.priceA,cryptoPool?.totalLiquidityUsd / 2 / cryptoPool?.reserveA)}}</span> %
            <br>
            DEX:<app-price [fiat]='fiat' [usdPrice]='cryptoPool?.totalLiquidityUsd / 2 / cryptoPool?.reserveB '></app-price>/
            CEX:<app-price [fiat]='fiat' [usdPrice]='priceDFICEX'></app-price>
            Premium: <span>{{getArb(priceDFICEX,cryptoPool?.totalLiquidityUsd / 2 / cryptoPool?.reserveB)}}</span> %
          </td>
          <td class='text-right p-2'>
            <app-price [fiat]='fiat' [usdPrice]='cryptoPool?.totalLiquidityUsd'></app-price>
            <br>
            <span class='text-xs'>{{cryptoPool?.reserveA | number: '1.2-2'}} {{cryptoPool?.tokenASymbol}} - {{cryptoPool?.reserveB | number: '1.2-2'}}
              DFI</span>
          </td>
          <td class='text-right p-2'>
            <app-price [fiat]='fiat' [usdPrice]='cryptoPool?.totalLiquidityUsd/cryptoPool?.totalLiquidityLpToken'></app-price>
          </td>
          <td class='text-right p-2'>
            {{getCorr(cryptoPool?.tokenASymbol)}}
          </td>
          <td class='text-right p-2'>
            {{cryptoPool?.apr | number: '1.2-2' }}%
          </td>
          <td class='text-right p-2'>
            {{getApyWeeklyFromApr(cryptoPool?.apr) | number: '1.2-2' }}%
          </td>
        </tr>
        <tr class='dark:bg-green-400 hover:bg-blue-700 dark:hover:bg-green-400'>
          <td class='p-2'></td>
          <td class='text-right p-2'>
          </td>
          <td class='text-right p-2'>
          </td>
          <td class='text-right p-2'>
          </td>
          <td class='text-right p-2'>
          </td>
          <td class='text-right p-2'>
          </td>
          <td class='text-right p-2'>

          </td>
        </tr>
        <tr *ngFor='let stockPool of getStockPools(); let i = index'
            [ngClass]=" i % 2 ?  'dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600'
             : 'dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600 bg-gray-100 dark:bg-gray-700' ">
          <td class='p-2'>{{stockPool?.symbol}}</td>
          <td class='text-right text-sm p-2'>
            DEX: <app-price [fiat]='fiat' [usdPrice]='stockPool?.totalLiquidityUsd / 2 / stockPool?.reserveA '></app-price>

            <span *ngIf='!isDUSDPool(stockPool)'> / Oracle: <app-price [fiat]='fiat' [usdPrice]='getStockPrice(stockPool?.symbol)'></app-price>
            Premium: <span>{{getArb(getStockPrice(stockPool?.symbol),stockPool?.totalLiquidityUsd / 2 / stockPool?.reserveA)}}</span> %</span>

            <br>

            DEX: <app-price [fiat]='fiat' [usdPrice]='stockPool?.totalLiquidityUsd / 2 / stockPool?.reserveB '></app-price>
            <span *ngIf='isDUSDPool(stockPool)'> / CEX:<app-price [fiat]='fiat' [usdPrice]='priceDFICEX'></app-price>
            Premium: <span>{{getArb(priceDFICEX,stockPool?.totalLiquidityUsd / 2 / stockPool?.reserveB)}}</span> %</span>


          </td>
          <td class='text-right p-2'>
            <app-price [fiat]='fiat' [usdPrice]='stockPool?.totalLiquidityUsd'></app-price>
            <br>
            <span class='text-xs'>{{stockPool?.reserveA | number: '1.2-2'}}
              {{stockPool?.tokenASymbol}} - {{stockPool?.reserveB | number: '1.2-2'}}
              {{stockPool?.tokenASymbol !== 'DUSD' ? 'dUSD' : 'DFI'}}</span>
          </td>
          <td class='text-right p-2'>
            <app-price [fiat]='fiat'
                       [usdPrice]='stockPool?.totalLiquidityUsd/stockPool?.totalLiquidityLpToken'></app-price>
          </td>
          <td class='text-right p-2'>
            {{getCorr(stockPool?.tokenASymbol)}}
          </td>
          <td class='text-right p-2'>
            {{stockPool?.apr | number: '1.2-2' }}%
          </td>
          <td class='text-right p-2'>
            {{getApyWeeklyFromApr(stockPool?.apr) | number: '1.2-2' }}%
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
