<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Changelog</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let l of logs.logs">
      <h2><span class="badge badge-secondary left">{{l.version}}</span></h2>
      <p>{{l.comment}}</p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-sm btn-secondary" (click)="open(content)">{{env.version}}</button>
