<div class="col-sm bg-light margin-col">
  <h2>
    <span class="badge badge-pill badge-success left">{{ 'target-reward-title' | translate }} </span>
  </h2>
  <span class="badge badge-pill badge-success left">Staking Apy {{stakingApy}} %</span>
  <br>
  <div class="row">
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturnMin">DFI per Min</label>
        <input required [(ngModel)]="aimReturnMin" (ngModelChange)="onChangeAimReturnMin($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnMin" placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }} Min.</small>
      </div>
      <h2><span
        class="badge badge-pill badge-success left">{{ 'invest-needed' | translate }} {{stakingNeededForAimReturnMin | number: '1.0-0' }}
        DFI</span></h2>

      <div class="form-group">
        <label for="aimReturnHour">DFI per {{ 'hour' | translate }} </label>
        <input required [(ngModel)]="aimReturnHour" (ngModelChange)="onChangeAimReturnHour($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnHour" placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }}{{ 'hour' | translate }}
          .</small>
      </div>
      <h2><span
        class="badge badge-pill badge-success left">{{ 'invest-needed' | translate }} {{stakingNeededForAimReturnHour | number: '1.0-0' }}
        DFI</span></h2>
    </div>
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturn">DFI per {{ 'day' | translate }} </label>
        <input required [(ngModel)]="aimReturnDay" (ngModelChange)="onChangeAimReturnDay($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturn" placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }} {{ 'day' | translate }}
          .</small>
      </div>
      <h2><span
        class="badge badge-pill badge-success left">{{ 'invest-needed' | translate }} {{stakingNeededForAimReturnDay | number: '1.0-0' }}
        DFI</span></h2>
      <div class="form-group">
        <label for="aimReturnMonth">DFI per {{ 'month' | translate }} </label>
        <input required [(ngModel)]="aimReturnMonth" (ngModelChange)="onChangeAimReturnMonth($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnMonth" placeholder="Enter dfi amount">
        <small
          class="form-text text-muted">{{ 'target-reward-input' | translate }} {{ 'month' | translate }}
          .</small>
      </div>
      <h2><span
        class="badge badge-pill badge-success left">{{ 'invest-needed' | translate }} {{stakingNeededForAimReturnMonth | number: '1.0-0' }}
        DFI</span></h2>
    </div>
  </div>
</div>
