<div>
  <h1 class="text-3xl mb-4">DEX</h1>

  <div class="overflow-x-auto sm:overflow-visible max-w-full">
    <app-dex-statistics
      [apiOnline]="apiOnline"
      [fiat]="fiat"
      [dex]="dex"
      [usdToEur]="usdToEur"
      [usdToChf]="usdToChf"
      [usdToGbp]="usdToGbp"
      [poolBtc]="poolBtc"
      [poolEth]="poolEth"
      [poolUsdt]="poolUsdt"
      [poolLtc]="poolLtc"
      [poolDoge]="poolDoge"
      [poolBch]="poolBch"
      [stakingApyCake]="stakingApyCake"
      [stakingApyMN]="stakingApyMN"
      >
    </app-dex-statistics>
  </div>
</div>
