<h1><span class="badge badge-secondary left">DFI {{ 'stats' | translate }}</span></h1>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
  <button (click)="onChangeCPCurrency('BTC')" type="button" class="btn margin-col btn-danger">BTC</button>
  <button (click)="onChangeCPCurrency('BCH')" type="button" class="btn margin-col btn-danger">BCH</button>
  <button (click)="onChangeCPCurrency('ETH')" type="button" class="btn margin-col btn-danger">ETH</button>
  <button (click)="onChangeCPCurrency('LTC')" type="button" class="btn margin-col btn-danger">LTC</button>
  <button (click)="onChangeCPCurrency('DOGE')" type="button" class="btn margin-col btn-danger">DOGE</button>
  <button (click)="onChangeCPCurrency('USDT')" type="button" class="btn margin-col btn-danger">USDT</button>


</div>
<br>
<br>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
  <button (click)="onChangeCPCurrency('USD')" type="button" class="btn margin-col btn-danger">USD</button>
  <button (click)="onChangeCPCurrency('EUR')" type="button" class="btn margin-col btn-danger">EUR</button>
  <button (click)="onChangeCPCurrency('CHF')" type="button" class="btn margin-col btn-danger">CHF</button>
  <button (click)="onChangeCPCurrency('GBP')" type="button" class="btn margin-col btn-danger">GBP</button>
</div>
<br>
<br>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_59a11"></div>
</div>
<!-- TradingView Widget END -->

<br>
<br>
