<div>
  <h1 class="text-3xl mb-4">Settings</h1>
  <div class="grid grid-flow-col grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 gap-3">
    <div>
      <div class="flex">
        <div class="w-3/4">
          <app-input
            required
            type="number"
            step="1"
            min="10"
            id="sCount"
            label="{{ 'refresh6' | translate }}"
          ></app-input>
        </div>
        <div class="inline-block w-1/4 pl-2 align-top">
          <button 
            type="button"
            (click)="onChangeRefreshS()"
            class="bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-full h-14 text-white align-top uppercase"
          >
            {{ "refresh5" | translate }}
          </button>
        </div>
      </div>
      
      <div class="w-full text-xs text-gray-400 mt-1">
        {{ 'refresh3' | translate }}
        <countdown class="text-pink-400" #cd [config]="{ leftTime: sCountdownShow, format: 'mm:ss' }"></countdown>
      </div>
    </div>
    <div class="md:border-l md:pl-3">
      <p *ngIf="!loggedIn">{{ 'loginExplain' | translate }}</p>
      <p *ngIf="!loggedIn" class="my-3">
        <button 
          (click)="register()"
          type="button"
          class="max-w-xs bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-full h-14 text-white align-top"
        >
          {{ 'register' | translate }}
        </button>
      </p>
      
      <div *ngIf="errorBackend" class="bg-red-600 text-white w-full py-2 px-4 rounded-sm my-2" role="alert">
        {{errorBackend}}
      </div>
      <div *ngIf="successBackend"  class="bg-green-500 text-white w-full py-2 px-4 rounded-sm my-2" role="alert">
        {{successBackend}}
      </div>

      <p *ngIf="!loggedIn" class="py-2">{{ 'login2' | translate }}</p>
      
      <div *ngIf="!loggedIn" class="flex">
        <div class="w-3/4 pr-2">
          <app-input
            label="{{ 'login21' | translate }}"
            [value]="loggedInAuthInput"
          ></app-input>
        </div>
        <button
          (click)="login()"
          type="button"
          class="bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-1/4 h-14 text-white align-top"
        >
          {{ 'login' | translate }}
        </button>
      </div>
      <h2 *ngIf="loggedIn">
        {{ 'login3' | translate }} <span class="badge badge-pill badge-primary left">{{loggedInAuth}}</span>
      </h2>
    </div>
  </div>
</div>
