<div>
   <h1 class="text-3xl mb-4 text-pink-500">{{ 'setting' | translate }}</h1>
  <div class="grid grid-flow-col grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 gap-3">
    <div>
      <div class="flex">
        <div class="w-3/4">
          <div
            class="relative h-14 input-component"
            [ngClass]="!sCountdown ? 'empty' : ''"
            title="{{ 'refresh6' | translate }}"
          >
            <input
              required
              [(ngModel)]="sCountdown"
              type="number"
              step="1"
              min="10"
              id="sCountdown"
              class="h-full w-full bg-gray-100 px-2 pt-2 transition-all border-blue rounded"
            >
            <label for="sCountdown" class="absolute left-2 transition-all px-1 pointer-events-none">
              {{ 'refresh6' | translate }}
            </label>
          </div>
        </div>
        <div class="inline-block w-1/4 pl-2 align-top">
          <button 
            type="button"
            (click)="onChangeRefreshS()"
            class="bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-full h-14 text-white align-top uppercase"
          >
            {{ "refresh5" | translate }}
          </button>
        </div>
      </div>
      
      <div class="w-full text-xs text-gray-400 mt-1">
        {{ 'refresh3' | translate }}
        <countdown class="text-pink-400" #cd [config]="{ leftTime: sCountdownShow, format: 'mm:ss' }"></countdown>
      </div>


      <div class="w-full mt-5">
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
          <input 
            type="checkbox"
            id="autoLoadData"
            [(ngModel)]="autoLoadData"
            (ngModelChange)="saveToggleAutoLoad()" 
            type="checkbox"
            [ngClass]="{ 'isChecked': autoLoadData }"
            class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer focus:outline-none"
          />
          <label
            for="autoLoadData"
            class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
          ></label>
        </div>
        <label *ngIf="!autoLoadData" for="autoLoadData" class="text-xs">
          {{ 'load3' | translate }}
        </label>
        <label *ngIf="autoLoadData" for="autoLoadData" class="text-xs">
          {{ 'load4' | translate }}
        </label>
      </div>
    </div>
    <div class="lg:border-l lg:pl-3">
      <p *ngIf="!loggedIn">{{ 'loginExplain' | translate }}</p>
      <p *ngIf="!loggedIn" class="my-3">
        <button 
          (click)="register()"
          type="button"
          class="max-w-xs bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-full h-14 text-white align-top"
        >
          {{ 'register' | translate }}
        </button>
      </p>
      
      <div *ngIf="errorBackend" class="bg-red-600 text-white w-full py-2 px-4 rounded-sm my-2" role="alert">
        {{errorBackend}}
      </div>
      <div *ngIf="successBackend"  class="bg-green-500 text-white w-full py-2 px-4 rounded-sm my-2" role="alert">
        {{successBackend}}
      </div>

      <p *ngIf="!loggedIn" class="py-2">{{ 'login2' | translate }}</p>
      
      <div *ngIf="!loggedIn" class="flex">
        <div class="w-3/4 pr-2">
          <div
            class="relative h-14 input-component"
            [ngClass]="!loggedInAuthInput ? 'empty' : ''"
            title="{{ 'login21' | translate }}"
          >
            <input
              required
              [(ngModel)]="loggedInAuthInput"
              type="text"
              id="loggedInAuthInput"
              class="h-full w-full bg-gray-100 px-2 pt-2 transition-all border-blue rounded"
            >
            <label for="loggedInAuthInput" class="absolute left-2 transition-all px-1 pointer-events-none">
              {{ 'login21' | translate }}
            </label>
          </div>
        </div>
        <button
          (click)="login()"
          type="button"
          class="bg-pink-500 hover:bg-pink-600 transform transition-all delay-150 focus:outline-none rounded-md w-1/4 h-14 text-white align-top"
        >
          {{ 'login' | translate }}
        </button>
      </div>
      <h2 *ngIf="loggedIn">
        {{ 'login3' | translate }}
        <br/>
        <span class="rounded-full bg-gray-800 text-white text-sm px-2 py-1">{{loggedInAuth}}</span>
      </h2>

      <div *ngIf="loggedIn" class="mt-4">
        <button
          (click)="logout()"
          type="button"
          class="border border-pink-500 hover:bg-gray-200 transform transition-all delay-150 focus:outline-none rounded-md w-2/4 h-10 text-pink-500 align-top"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
