<div>
  <h1 [ngClass]="{'text-3xl text-pink-500': !showOnlyGraph, 'text-lg dark:text-gray-100': showOnlyGraph}">
    {{ "income.title" | translate }}
  </h1>
  <h2 class="text-lg mt-2 mb-4 dark:text-gray-100">
    {{ "income.distribution" | translate }}
  </h2>

  <div
    class="grid grid-flow-row grid-cols-1 auto-rows-max gap-4 lg:gap-2"
    [ngClass]="{'lg:grid-cols-2': !showOnlyGraph}"
  >
    <div class="order-2 lg:order-1" *ngIf="chartOptions2 && chartOptions2.series.length > 0">
      <apx-chart
        [series]="chartOptions2?.series"
        [chart]="chartOptions2?.chart"
        [labels]="chartOptions2?.labels"
        [colors]="chartOptions2?.colors"
        [fill]="chartOptions2?.fill"
        [stroke]="chartOptions2?.stroke"
        [responsive]="chartOptions2?.responsive"
        [theme]="{ mode: getTheme() }"
      ></apx-chart>
    </div>

    <div class="order-1 lg:order-2">
      <div class="grid grid-flow-col select-none mb-4"
           [ngClass]="wallet?.dfiInMasternodes > 0 ? 'grid-cols-4 ':  'grid-cols-3'">
        <a
          (click)="handleTab('All')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'All' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          {{ 'income.all' | translate }}
        </a>
        <a *ngIf="dfiInStaking > 0 || dfiInDfxStaking > 0"
           (click)="handleTab('Staking')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'Staking' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          Staking
        </a>
        <a
          (click)="handleTab('LM')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'LM' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          <span class="sm:hidden">LM</span>
          <span class="hidden sm:block">Liquidity Mining</span>
        </a>
        <a *ngIf="wallet?.dfiInMasternodes > 0"
          (click)="handleTab('MN')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2 overflow-hidden overflow-ellipsis flow-root"
          [ngClass]="selectedTab === 'MN' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          Masternode
        </a>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'All'">

        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "income.share" | translate }}
        </h3>

        <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max  grid-cols-2 md:grid-cols-3 lg:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2 mb-2"
          >
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilStakingOfIncome() | number: "1.3-3"}} %
              </span>
              Staking
            </span>
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilLMOfIncome() | number: "1.3-3"}} %
              </span>
              LM
            </span>
            <span *ngIf="wallet?.dfiInMasternodes" class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilMasternodeOfIncome() | number: "1.3-3"}} %
              </span>
              Masternode
            </span>
          </span>
        </div>

        <app-earning
          [isIncognitoModeOn]="isIncognitoModeOn"
          [out]="poolAllOut"
          [pool]="poolBtc"
          [fiat]="fiat"
        ></app-earning>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'Staking'">
        <div *ngIf="dfiInStaking === 0 && dfiInDfxStaking === 0" class="dark:text-gray-100">
          {{ "noStakingAvailable" | translate }}
        </div>
        <div *ngIf="dfiInStaking > 0 || dfiInDfxStaking > 0">

          <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
            {{ "balance" | translate }} DFI
          </h3>

          <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-1 lg:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2"
          >
            <span class="text-l dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : dfiInStaking | number: "1.2-2"}} Cake <br>
                {{isIncognitoModeOn ? '****' : dfiInDfxStaking  | number: "1.2-2"}} DFX
              </span>
            </span>
            <span class="text-l dark:text-gray-100">
               <span class="text-pink-500 font-semibold">
                {{stakingApy | number: "1.1-1"}} % Apy Cake <br>
                 {{stakingDfxApy * 100 | number: "1.1-1"}} % Apy DFX
              </span>
            </span>
          </span>
          </div>

          <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
            <div>
              {{ "balance" | translate}} Total
            </div>
            <div>

              <span *ngIf="!isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price [fiat]="fiat" [usdPrice]="getDfiCountStakingUsd()"></app-price>
            </span>
              <span *ngIf="isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              *****
            </span>
            </div>
            <div *ngIf="dfiInStaking > 0">
              {{ "balance" | translate}} Cake
            </div>
            <div *ngIf="dfiInStaking > 0">
              <span *ngIf="!isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price [fiat]="fiat" [usdPrice]="dfiInStaking * poolBtc?.priceB"></app-price>
            </span>
              <span *ngIf="isIncognitoModeOn && dfiInStaking > 0" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              *****
            </span>
            </div>
            <div *ngIf="dfiInDfxStaking > 0">
              {{ "balance" | translate}} Dfx
            </div>
            <div *ngIf="dfiInDfxStaking > 0">
              <span *ngIf="!isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price [fiat]="fiat" [usdPrice]="dfiInDfxStaking * poolBtc?.priceB"></app-price>
            </span>
              <span *ngIf="isIncognitoModeOn && dfiInDfxStaking > 0" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              *****
            </span>
            </div>
          </h3>
          <br>
          <div class="mt-2">
            <app-earning
              [isIncognitoModeOn]="isIncognitoModeOn"
              [out]="stakingOut"
              [pool]="poolBtc"
              [fiat]="fiat"
            >
            </app-earning>
          </div>
        </div>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'LM'">
        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "income.share" | translate }}
        </h3>

        <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-2 md:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2"
          >
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.btcInBtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBTCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BTC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ethInEthPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilETHPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              ETH
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ltcInLtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilLTCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              LTC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdtInUsdtPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUSDTPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USDT
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdcInUsdcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUSDCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USDC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.dogeInDogePool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilDogePoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              DOGE
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.bchInBchPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBchPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BCH
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdInUsdPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUsdPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USD
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tslaInTslaPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilTslaPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              TSLA
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.spyInSpyPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilSpyPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              SPY
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.qqqInQqqPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilQqqPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              QQQ
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pltrInPltrPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPltrPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PLTR
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.slvInSlvPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilSlvPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              SLV
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.aaplInAaplPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilAaplPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              AAPL
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gldInGldPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGldPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GLD
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gmeInGmePool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGmePoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GME
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.googlInGooglPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGooglPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GOOGL
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.arkkInArkkPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilArkkPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              ARKK
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.babaInBabaPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBabaPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BABA
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.vnqInVnqPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilVnqPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              VNQ
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.urthInUrthPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUrthPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              URTH
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tltInTltPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilTltPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              TLT
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pdbcInPdbcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPdbcPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PDBC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.amznInAmznPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilAmznPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              AMZN
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.nvdaInNvdaPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilNvdaPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              NVDA
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.coinInCoinPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilCoinPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              COIN
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.eemInEemPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilEemPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              EEM
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.msftInMsftPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilMsftPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              MSFT
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.nflxInNflxPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilNflxPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              NFLX
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.fbInFbPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilFbPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              FB
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.vooInVooPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilVooPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              VOO
            </span>

            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.disInDisPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilDisPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              DIS
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.mchiInMchiPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilMchiPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              MCHI
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.mstrInMstrPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilMstrPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              MSTR
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.intcInIntcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilIntcPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              INTC
            </span>
              <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pyplInPyplPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPyplPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PYPL
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.brkbInBrkbPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBrkbPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BRK.B
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.koInKoPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilKoPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              KO
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pgInPgPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPgPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PG
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.sapInSapPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilSapPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              SAP
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.uraInUraPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUraPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              URA
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.csInCsPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilCsPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              CS
            </span>
              <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gsgInGsgPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGsgPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GSG
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ppltInPpltPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPpltPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PPLT
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.govtInGovtPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGovtPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GOVT
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tanInTanPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilTanPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              TAN
            </span>
              <span class="text-xl dark:text-gray-100" *ngIf="wallet?.xomInXomPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilXomPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              XOM
            </span>
          </span>
        </div>

        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "balance" | translate }}
        </h3>

        <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
          <span>
            {{ "balance" | translate}} in Fiat
          </span>
          <div>
            <span *ngIf="!isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price [fiat]="fiat" [usdPrice]="getLMUsd"></app-price>
            </span>
            <span *ngIf="isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              *****
            </span>
          </div>
        </h3>
        <br>
        <app-earning
          [isIncognitoModeOn]="isIncognitoModeOn"
          [out]="poolOut"
          [pool]="poolBtc"
          [fiat]="fiat"
        ></app-earning>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'MN'">
        <div *ngIf="wallet?.dfiInMasternodes < 1">
          {{ "noStakingAvailable" | translate }}
        </div>
        <div *ngIf="wallet?.dfiInMasternodes > 0">

          <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
            {{ "balance" | translate }}
          </h3>

          <div class="grid grid-flow-col md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-3 lg:gap-2 gap-6 border-b pb-2">
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : wallet?.dfiInMasternodes | number: "1.2-2"}}
              </span>
              Total
            </span>
             <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : getBalanceMasternode() | number: "1.2-2"}}
              </span>
              Balance
            </span>
            <span class="text-xl dark:text-gray-100">
               <span class="text-pink-500 font-semibold">
                {{masternodesApr | number: "1.1-1"}}
              </span>
              % APR
            </span>
          </span>
          </div>

          <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
            <div>
              {{ "balance" | translate}} in Fiat
            </div>
            <div>
              <span *ngIf="!isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price [fiat]="fiat" [usdPrice]="getDfiCountMasternodesUsd()"></app-price>
            </span>
              <span *ngIf="isIncognitoModeOn" class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              *****
            </span>
            </div>
          </h3>
          <br>
          <div class="mt-2">
            <app-earning
              [isIncognitoModeOn]="isIncognitoModeOn"
              [out]="masternodeOut"
              [pool]="poolBtc"
              [fiat]="fiat"
            >
            </app-earning>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
