label {
  top: 5px;
  left: 8px;
  transform: translateY(1%);
  font-size: 11px;
  color: rgba(236, 72, 153, var(--tw-text-opacity));
}

label::after {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 0;
  content: ' ';
  width: 100%;
  height: 15px;
}

.empty input:not(:focus) + label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

input:not(:focus) + label {
  color: rgba(70, 70, 70, 1);
}

input {
  border-width: 1px;
}

input::placeholder {
  display: none;
  color: transparent;
}

input:focus {
  outline: none;
  border-color: rgba(236, 72, 153, var(--tw-text-opacity));
}
