<div>
  <h1 class="text-3xl mb-4">Bestände</h1>

  <a class="absolute right-3 top-3 flex cursor-pointer hover:text-pink-500" (click)="handleSettingsDialog()">
    <embed
      type="image/svg+xml"
      src="/assets/icons/settings.svg"
      class="pointer-events-none w-8 h-8 fill-current"
    />
  </a>

  <div
    class="grid grid-flow-col grid-cols-1 grid-rows-2 md:grid-rows-1 sm:grid-cols-2"
  >
    <div>
      <h2 class="text-lg">{{ 'value.dist' | translate }}</h2>
      <div *ngIf="wallet && poolBtc">
        <app-value
          [poolBtc]="poolBtc"
          [fiat]="fiat"
          [usdToEur]="usdToEur"
          [usdToChf]="usdToChf"
          [usdToGbp]="usdToGbp"
          [poolEth]="poolEth"
          [poolUsdt]="poolUsdt"
          [poolLtc]="poolLtc"
          [poolDoge]="poolDoge"
          [poolBch]="poolBch"
          [dfiInStaking]="dfiInStaking"
          [wallet]="wallet"
        ></app-value>
      </div>
    </div>
    <div>
      <h2 class="text-lg">{{ 'value.hold' | translate }}</h2>
    </div>
  </div>

  <div *ngIf="dialogOpen" class="bg-fixed bg-white fixed inset-0 bg-opacity-80">
    <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 bg-white w-11/12 lg:w-4/5 xl:w-2/3 max-w-4xl h-4/6 shadow-md rounded p-4">
      <div class="absolute right-5 top-5 z-10 cursor-pointer" (click)="handleSettingsDialog()">
        <object
          type="image/svg+xml"
          data="../assets/icons/close.svg"
          class="pointer-events-none select-none"
        ></object>
      </div>

      <div class="w-full h-full pt-8 relative">
        <div class="uppercase grid grid-flow-col grid-cols-2">
          <a
            (click)="handleTab('manual')"
            class="text-center border-r cursor-pointer"
            [ngClass]="{'text-pink-500': selectedTab === 'manual'}"
          >
            Manual enter
          </a>
            <a
              (click)="handleTab('api')"
              class="text-center cursor-pointer"
              [ngClass]="{'text-pink-500': selectedTab === 'api'}"
            >
              Api Key
          </a>
        </div>

        <div class="py-3 h-full">
          <div *ngIf="selectedTab === 'manual'" class="overflow-y-auto h-full pr-2">
            <div class="text-sm">Wallet</div>
            <div class="grid grid-flow-row grid-rows-2 grid-cols-2 md:grid-cols-3 gap-3 mb-6">
              <div>
                <app-input name="test" label="Label" value="" handleInput=""></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
            </div>

            <div class="text-sm">Staking</div>
            <div class="grid grid-flow-row grid-rows-1 grid-cols-2 md:grid-cols-3 gap-3 mb-6">
              <div>
                <app-input></app-input>
              </div>
            </div>

            <div class="text-sm">Liquidity Mining</div>
            <div class="grid grid-flow-row grid-rows-6 grid-cols-2 md:grid-cols-3 gap-3 pb-4">
              <div>
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
              <div class="md:col-start-1">
                <app-input></app-input>
              </div>
              <div>
                <app-input></app-input>
              </div>
            </div>
          </div>

          <div *ngIf="selectedTab === 'api'">
            <div class="inline-block w-3/4">
              <app-input
                required
                id="inputAddress"
                name="apiKey"
                label="DFI Address"
                [value]="adress"
              >
              </app-input>
            </div>
            <div class="inline-block w-1/4 pl-2 align-top">
              <button class="bg-pink-500 rounded-md w-full h-14 text-white align-top" (click)="addAdress()">
                Add
              </button>
            </div>

            <div class="block mt-2">
              <div 
                *ngFor="let adress of adresses; index as i;"
                class="relative px-3"
                [ngClass]="{'bg-gray-200': i % 2}"
              >
                {{ adress }}
                <a class="absolute top-0 right-3 hover:text-pink-500 cursor-pointer" (click)="deleteAdress(adress)">
                  X
                </a>
              </div>
              <!-- <div *ngFor="let adress of adresses">{{adress}}</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
