<div class="grid grid-flow-col grid-cols-1 grid-rows-2 md:grid-rows-1 sm:grid-cols-2">
  <div>
    <h2 class="text-lg">{{ 'value.dist' | translate }}</h2>

    <apx-chart
      class="w-full"
      *ngIf="chartOptions3 && chartOptions3.series.length > 0"
      [series]="chartOptions3?.series"
      [chart]="chartOptions3?.chart"
      [labels]="chartOptions3?.labels"
      [colors]="chartOptions3?.colors"
      [fill]="chartOptions3?.fill"
      [dataLabels]="chartOptions3?.dataLabels"
      [responsive]="chartOptions3?.responsive"
    ></apx-chart>
  </div>
  <div>
    <h2 class="text-lg">{{ 'value.hold' | translate }}</h2>
      
    <apx-chart *ngIf="chartOptions && chartOptions.series.length > 0"
      class="w-full"
      [series]="chartOptions?.series"
      [chart]="chartOptions?.chart"
      [labels]="chartOptions?.labels"
      [colors]="chartOptions?.colors"
      [fill]="chartOptions?.fill"
      [dataLabels]="chartOptions?.dataLabels"
      [responsive]="chartOptions?.responsive"
    ></apx-chart>
  </div>
</div>
