<div class="container left">
  <div class="row">
    <div class="col-auto margin-col">
      <img src="{{poolBtc?.logo}}" class="img-fluid mb-4" alt="DefiChain Logo">
    </div>
    <div class="col-3 margin-col">
      <h1><span class="badge badge-secondary left">DeFiChain Income Dashboard</span></h1>
      <p><span class="badge badge-secondary left">{{env.version}}</span></p>
      <p>Welcome, on this website you can track your income of your cryptos during staking or liquidity mining with your defichain app.</p>
      <p>All data come from <a href="https://dex.defichain.com/mainnet/pool"> https://dex.defichain.com/mainnet/pool</a></p>
      <p>Data are refreshed every 60s. No F5 needed.</p>
    </div>
    <div class="col-auto margin-col">
      <div class="row">
        <div class="col-auto bg-light margin-col">
          <div class="row">
            <div class="col-auto margin-col">
              TVL <h2><span class="badge badge-pill badge-dark left"> {{dex?.tvl | currency:'USD'}}
              /  {{dex?.tvl * usdToEur | currency:'EUR'}}
              /  {{dex?.tvl * usdToChf | currency:'CHF'}}</span></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price BTC <span class="badge badge-pill badge-dark left"> {{poolBtc?.priceA | currency:'USD'}}
              /  {{poolBtc?.priceA * usdToEur | currency:'EUR'}}
              / {{poolBtc?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price ETH <span class="badge badge-pill badge-dark left"> {{poolEth?.priceA | currency:'USD'}}
              /  {{poolEth?.priceA * usdToEur | currency:'EUR'}}
              / {{poolEth?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price USDT <span class="badge badge-pill badge-dark left"> {{poolUsdt?.priceA | currency:'USD'}}
              /  {{poolUsdt?.priceA * usdToEur | currency:'EUR'}}
              / {{poolUsdt?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price DFI <span class="badge badge-pill badge-dark left"> {{poolBtc?.priceB | currency:'USD'}}
              /  {{poolBtc?.priceB * usdToEur | currency:'EUR'}}
              / {{poolBtc?.priceB * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY BTC Pool <span class="badge badge-pill badge-dark">{{poolBtc?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY ETH Pool <span class="badge badge-pill badge-dark">{{poolEth?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY USDT Pool <span class="badge badge-pill badge-dark">{{poolUsdt?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container left">
  <h1><span class="badge badge-secondary left">Your crypto holdings</span></h1>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-primary left">Wallet</span>
      <div class="form-group">
        <label for="inputDFIWallet">DFI</label>
        <input required [(ngModel)]="dfiInWallet" (ngModelChange)="onChangeDfiWallet($event)" type="number"
               class="form-control form-control-sm" id="inputDFIWallet" placeholder="Enter dfi amount">
        <small class="form-text text-muted">Add your wallet DFI amount.</small>
        <small class="form-text text-muted">If you not have DF in wallet set 0.</small>
      </div>
      <span class="badge badge-pill badge-primary left">Staking</span>
      <div class="form-group">
        <label for="inputDFIStaking">DFI</label>
        <input required [(ngModel)]="dfiInStaking" (ngModelChange)="onChangeDfiStaking($event)" type="number"
               class="form-control form-control-sm" id="inputDFIStaking" placeholder="Enter dfi amount">
        <small class="form-text text-muted">Add your stake DFI amount.</small>
        <small class="form-text text-muted">If you not stake set 0.</small>
      </div>
    </div>
    <div class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-primary left">Liquidity Mining</span>
      <div class="row">
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">BTC Pool</span>
          <div class="form-group">
            <label for="inputBTCBTCPool">BTC</label>
            <input required [(ngModel)]="btc" (ngModelChange)="onChangeBtcBtcPool($event)" type="number"
                   class="form-control form-control-sm" id="inputBTCBTCPool" placeholder="Enter btc amount">
            <small class="form-text text-muted">Add your btc pool BTC amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>

            <label for="inputDFIBTCPool">DFI</label>
            <input required [(ngModel)]="dfiInBtcPool" (ngModelChange)="onChangeDfiBtcPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIBTCPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your btc pool DFI amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>
          </div>
        </div>
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">ETH Pool</span>
          <div class="form-group">
            <label for="inputETHETHPool">ETH</label>
            <input required [(ngModel)]="eth" (ngModelChange)="onChangeEthEthPool($event)" type="number"
                   class="form-control form-control-sm" id="inputETHETHPool" placeholder="Enter eth amount">
            <small class="form-text text-muted">Add your eth pool ETH amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>

            <label for="inputDFIETHPool">DFI</label>
            <input required [(ngModel)]="dfiInEthPool" (ngModelChange)="onChangeDfiEthPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIETHPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your eth pool DFI amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>
          </div>
        </div>
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">USDT Pool</span>
          <div class="form-group">
            <label for="inputUSDTUSDTPool">USDT</label>
            <input required [(ngModel)]="usdt" (ngModelChange)="onChangeUsdtUsdtPool($event)" type="number"
                   class="form-control form-control-sm" id="inputUSDTUSDTPool" placeholder="Enter usdt amount">
            <small class="form-text text-muted">Add your usdt pool USDT amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>

            <label for="inputDFIUSDTPool">DFI</label>
            <input required [(ngModel)]="dfiInUsdtPool" (ngModelChange)="onChangeDfiUsdtPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIUSDTPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your usdt pool DFI amount.</small>
            <small class="form-text text-muted">If you not in this pool set 0.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container left">
  <h1><span class="badge badge-secondary left">Your value</span></h1>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button (click)="onChangeFiat('USD')" type="button" class="btn small btn-secondary">USD</button>
    <button (click)="onChangeFiat('EUR')" type="button" class="btn small btn-secondary">EUR</button>
    <button (click)="onChangeFiat('CHF')" type="button" class="btn small btn-secondary">CHF</button>
  </div>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <h2><span
        class="badge badge-pill badge-success left">
        <span *ngIf="fiat === 'USD'"> {{getAllValuesUsdPrice() | currency:'USD'}} </span>
        <span *ngIf="fiat === 'EUR'"> {{getAllValuesUsdPrice() * usdToEur | currency:'EUR'}}</span>
        <span *ngIf="fiat === 'CHF'"> {{getAllValuesUsdPrice()  * usdToChf | currency:'CHF'}}</span>
      </span>
      </h2>

      <apx-chart *ngIf="chartOptions"
                 [series]="chartOptions?.series"
                 [chart]="chartOptions?.chart"
                 [labels]="chartOptions?.labels"
                 [fill]="chartOptions?.fill"
                 [dataLabels]="chartOptions?.dataLabels"
                 [responsive]="chartOptions?.responsive"
      ></apx-chart>
      <div class="row">
        <div *ngIf="btc > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{btc}} BTC -
        <span *ngIf="fiat === 'USD'">{{getBtcValueUsd() | currency:'USD'}}</span>
        <span *ngIf="fiat === 'EUR'">{{getBtcValueUsd() * usdToEur | currency:'EUR'}}</span>
        <span *ngIf="fiat === 'CHF'"> {{getBtcValueUsd() * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
        <div *ngIf="eth > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{eth}} ETH -
            <span *ngIf="fiat === 'USD'">{{getEthValueUsd() | currency:'USD'}}</span>
            <span *ngIf="fiat === 'EUR'">{{getEthValueUsd() * usdToEur | currency:'EUR'}}</span>
            <span *ngIf="fiat === 'CHF'">{{getEthValueUsd() * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
        <div *ngIf="usdt > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{usdt}} USDT -
            <span *ngIf="fiat === 'USD'">{{getUsdtValueUsd() | currency:'USD'}}</span>
            <span *ngIf="fiat === 'EUR'">{{getUsdtValueUsd() * usdToEur | currency:'EUR'}}</span>
            <span *ngIf="fiat === 'CHF'">{{getUsdtValueUsd() * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
      </div>
      <h3><span
        class="badge badge-pill badge-primary left"> {{getDfiCount()}} DFI -
        <span *ngIf="fiat === 'USD'">{{getDfiValueUsd() | currency:'USD'}}</span>
        <span *ngIf="fiat === 'EUR'">{{getDfiValueUsd() * usdToEur | currency:'EUR'}}</span>
        <span *ngIf="fiat === 'CHF'">{{getDfiValueUsd() * usdToChf | currency:'CHF'}}</span>
        </span>
      </h3>
    </div>
  </div>
</div>


<div class="container left">
  <h1><span class="badge badge-secondary left">Your income</span></h1>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Overall Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{btc}} BTC - {{eth}}
        ETH - USDT {{usdt}} - {{getDfiCountIncome()}} DFI </span></p>
      <p>Min <span class="badge badge-pill badge-info">{{getDfiIncomePerMin() | number: '1.2-2' }}
        DFI =
         <span
           *ngIf="fiat === 'USD'"> {{getDfiIncomeValuePerMinUsd() | currency:'USD' }}</span>
        <span
          *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerMinUsd() * usdToEur | currency:'EUR' }}</span>
        <span
          *ngIf="fiat === 'CHF'">{{getDfiIncomeValuePerMinUsd() * usdToChf | currency:'CHF' }}</span>
      </span>

      </p>

      <p>Hour <span class="badge badge-pill badge-info">{{ getDfiIncomePerHour()| number: '1.2-2' }}
        DFI =
        <span
          *ngIf="fiat === 'USD'"> {{getDfiIncomeValuePerHourUsd() | currency:'USD' }}</span>
         <span
           *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerHourUsd() * usdToEur | currency:'EUR' }}</span>
        <span
          *ngIf="fiat === 'CHF'"> {{getDfiIncomeValuePerHourUsd() * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>

      <p>Day <span class="badge badge-pill badge-info">{{getDfiIncomePerDay() | number: '1.2-2' }}
        DFI =
        <span *ngIf="fiat === 'USD'"> {{getDfiIncomeValuePerDayUsd() | currency:'USD' }}</span>
        <span *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerDayUsd() * usdToEur | currency:'EUR' }}</span>
        <span *ngIf="fiat === 'CHF'"> {{getDfiIncomeValuePerDayUsd() * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>

      <p>Week <span class="badge badge-pill badge-info"> {{getDfiIncomePerWeek() | number: '1.2-2' }}
        DFI =
         <span
           *ngIf="fiat === 'USD'">  {{getDfiIncomeValuePerWeekUsd() | currency:'USD' }}</span>
         <span
           *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerWeekUsd() * usdToEur | currency:'EUR' }}</span>
         <span
           *ngIf="fiat === 'CHF'"> {{getDfiIncomeValuePerWeekUsd() * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>
      <p>Month <span class="badge badge-pill badge-info">{{getDfiIncomePerMonth() | number: '1.2-2' }}
        DFI =
           <span
             *ngIf="fiat === 'USD'"> {{getDfiIncomeValuePerMonthUsd() | currency:'USD' }}</span>
           <span
             *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerMonthUsd() * usdToEur | currency:'EUR' }}</span>

           <span
             *ngIf="fiat === 'CHF'"> {{getDfiIncomeValuePerMonthUsd() * usdToChf | currency:'CHF' }}</span>
        </span>
      </p>
      <p>Year <span class="badge badge-pill badge-info">{{getDfiIncomePerYear() | number: '1.2-2' }}
        DFI =
           <span
             *ngIf="fiat === 'USD'"> {{getDfiIncomeValuePerYearUsd() | currency:'USD' }}</span>
           <span
             *ngIf="fiat === 'EUR'"> {{getDfiIncomeValuePerYearUsd() * usdToEur | currency:'EUR' }}</span>

           <span
             *ngIf="fiat === 'CHF'"> {{getDfiIncomeValuePerYearUsd() * usdToChf | currency:'CHF' }}</span>
        </span>
      </p>
    </div>

  </div>
</div>
<div class="container left">
  <div class="row">
    <div *ngIf="dfiInStaking > 0" class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Staking Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{dfiInStaking}} DFI </span></p>
      <app-earning [out]="stakingOut" [poolBtc]="poolBtc" [usdToEur]="usdToEur" [usdToChf]="usdToChf"></app-earning>
    </div>

    <div *ngIf="btc > 0 || eth > 0 " class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Liguidity Mining Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{btc}} BTC - {{eth}}
        ETH - USDT {{usdt}} - {{getDfiCountInLM()}} DFI </span></p>
      <app-earning [out]="poolOut" [poolBtc]="poolBtc" [usdToEur]="usdToEur" [usdToChf]="usdToChf"></app-earning>
    </div>


  </div>
</div>
<div class="container left">
  <div class="row">
    <div *ngIf="btc > 0 || dfiInBtcPool > 0" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">BTC/DFI {{poolBtc?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolBtc| number: '1.4-4' }} % </span></p>

      <span class="badge badge-pill badge-success">EARNINGS</span>
      <app-earning [out]="poolBtcOut" [poolBtc]="poolBtc" [usdToEur]="usdToEur" [usdToChf]="usdToChf"></app-earning>
    </div>

    <div *ngIf=" eth > 0 || dfiInEthPool" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">ETH/DFI {{poolEth?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolEth| number: '1.4-4' }} %</span></p>

      <span class="badge badge-pill badge-success mat-badge-large">EARNINGS</span>
      <app-earning [out]="poolEthOut" [poolBtc]="poolBtc" [usdToEur]="usdToEur" [usdToChf]="usdToChf"></app-earning>

    </div>
    <div *ngIf=" usdt > 0 || dfiInUsdtPool > 0" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">USDT/DFI {{poolUsdt?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolUsdt| number: '1.4-4' }} %</span></p>

      <span class="badge badge-pill badge-success mat-badge-large">EARNINGS</span>
      <app-earning [out]="poolUsdtOut" [poolBtc]="poolBtc" [usdToEur]="usdToEur" [usdToChf]="usdToChf"></app-earning>
    </div>
  </div>
</div>
<br><br><br><br><br><br>


