<div class="container left">
  <div class="row">
    <div class="col-auto margin-col">
      <img src="{{poolBtc?.logo}}" class="img-fluid mb-4" alt="DefiChain Logo">
    </div>
    <div class="col-3 margin-col">
      <h1><span class="badge badge-secondary left">DeFiChain Income Dashboard</span></h1>
      <p><span class="badge badge-secondary left">{{env.version}}</span></p>
      <p>Welcome, on this website you can track your income of your cryptos during staking or liquidity mining with your defichain app.</p>
      <p>All data come from <a href="https://dex.defichain.com/mainnet/pool"> https://dex.defichain.com/mainnet/pool</a></p>
      <p>Data are refreshed every 60s</p>
    </div>
    <div class="col-auto margin-col">
      <div class="row">
        <div class="col-auto bg-light margin-col">
          <div class="row">
            <div class="col-auto margin-col">
              TVL <h2><span class="badge badge-pill badge-dark left"> {{dex?.tvl | currency:'USD'}}
              /  {{dex?.tvl * usdToEur | currency:'EUR'}}
              /  {{dex?.tvl * usdToChf | currency:'CHF'}}</span></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price BTC <span class="badge badge-pill badge-dark left"> {{poolBtc?.priceA | currency:'USD'}}
              /  {{poolBtc?.priceA * usdToEur | currency:'EUR'}}
              / {{poolBtc?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price ETH <span class="badge badge-pill badge-dark left"> {{poolEth?.priceA | currency:'USD'}}
              /  {{poolEth?.priceA * usdToEur | currency:'EUR'}}
              / {{poolEth?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price USDT <span class="badge badge-pill badge-dark left"> {{poolUsdt?.priceA | currency:'USD'}}
              /  {{poolUsdt?.priceA * usdToEur | currency:'EUR'}}
              / {{poolUsdt?.priceA * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              Pool price DFI <span class="badge badge-pill badge-dark left"> {{poolBtc?.priceB | currency:'USD'}}
              /  {{poolBtc?.priceB * usdToEur | currency:'EUR'}}
              / {{poolBtc?.priceB * usdToChf | currency:'CHF'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY BTC Pool <span class="badge badge-pill badge-dark">BTC/DFI {{poolBtc?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY ETH Pool <span class="badge badge-pill badge-dark">ETH/DFI {{poolEth?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="col-auto margin-col">
              APY USDT Pool <span class="badge badge-pill badge-dark">USDT/DFI {{poolUsdt?.apy | number: '1.2-2' }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container left">
  <h1><span class="badge badge-secondary left">Your crypto holdings</span></h1>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-primary left">Wallet</span>
      <div class="form-group">
        <label for="inputDFIWallet">DFI</label>
        <input [(ngModel)]="dfiInWallet" (ngModelChange)="onChangeDfiWallet($event)" type="number"
               class="form-control form-control-sm" id="inputDFIWallet" placeholder="Enter dfi amount">
        <small class="form-text text-muted">Add your wallet DFI amount.</small>
      </div>
      <span class="badge badge-pill badge-primary left">Staking</span>
      <div class="form-group">
        <label for="inputDFIStaking">DFI</label>
        <input [(ngModel)]="dfiInStaking" (ngModelChange)="onChangeDfiStaking($event)" type="number"
               class="form-control form-control-sm" id="inputDFIStaking" placeholder="Enter dfi amount">
        <small class="form-text text-muted">Add your stake DFI amount.</small>
      </div>
    </div>
    <div class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-primary left">Liquidity Mining</span>
      <div class="row">
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">BTC Pool</span>
          <div class="form-group">
            <label for="inputBTCBTCPool">BTC</label>
            <input [(ngModel)]="btc" (ngModelChange)="onChangeBtcBtcPool($event)" type="number"
                   class="form-control form-control-sm" id="inputBTCBTCPool" placeholder="Enter btc amount">
            <small class="form-text text-muted">Add your btc pool BTC amount.</small>

            <label for="inputDFIBTCPool">DFI</label>
            <input [(ngModel)]="dfiInBtcPool" (ngModelChange)="onChangeDfiBtcPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIBTCPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your btc pool DFI amount.</small>
          </div>
        </div>
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">ETH Pool</span>
          <div class="form-group">
            <label for="inputETHETHPool">ETH</label>
            <input [(ngModel)]="eth" (ngModelChange)="onChangeEthEthPool($event)" type="number"
                   class="form-control form-control-sm" id="inputETHETHPool" placeholder="Enter eth amount">
            <small class="form-text text-muted">Add your eth pool ETH amount.</small>

            <label for="inputDFIETHPool">DFI</label>
            <input [(ngModel)]="dfiInEthPool" (ngModelChange)="onChangeDfiEthPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIETHPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your eth pool DFI amount.</small>
          </div>
        </div>
        <div class="col-auto bg-light margin-col">
          <span class="badge badge-pill badge-primary left">USDT Pool</span>
          <div class="form-group">
            <label for="inputUSDTUSDTPool">USDT</label>
            <input [(ngModel)]="usdt" (ngModelChange)="onChangeUsdtUsdtPool($event)" type="number"
                   class="form-control form-control-sm" id="inputUSDTUSDTPool" placeholder="Enter usdt amount">
            <small class="form-text text-muted">Add your usdt pool USDT amount.</small>

            <label for="inputDFIUSDTPool">DFI</label>
            <input [(ngModel)]="dfiInUsdtPool" (ngModelChange)="onChangeDfiUsdtPool($event)" type="number"
                   class="form-control form-control-sm" id="inputDFIUSDTPool" placeholder="Enter dfi amount">
            <small class="form-text text-muted">Add your usdt pool DFI amount.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container left">
  <h1><span class="badge badge-secondary left">Your value</span></h1>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button (click)="onChangeFiat('USD')" type="button" class="btn small btn-secondary">USD</button>
    <button (click)="onChangeFiat('EUR')" type="button" class="btn small btn-secondary">EUR</button>
    <button (click)="onChangeFiat('CHF')" type="button" class="btn small btn-secondary">CHF</button>
  </div>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <h2><span
        class="badge badge-pill badge-success left">
        <span
          *ngIf="fiat === 'USD'"> {{btc * poolBtc?.priceA + eth * poolEth?.priceA + usdt * poolUsdt?.priceA + (dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB | currency:'USD'}} </span>
        <span
          *ngIf="fiat === 'EUR'">  {{(btc * poolBtc?.priceA + eth * poolEth?.priceA + usdt * poolUsdt?.priceA + (dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB) * usdToEur | currency:'EUR'}}</span>
        <span
          *ngIf="fiat === 'CHF'">  {{(btc * poolBtc?.priceA + eth * poolEth?.priceA + usdt * poolUsdt?.priceA  + (dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB) * usdToChf | currency:'CHF'}}</span>
      </span>
      </h2>

      <apx-chart *ngIf="chartOptions"
                 [series]="chartOptions?.series"
                 [chart]="chartOptions?.chart"
                 [labels]="chartOptions?.labels"
                 [fill]="chartOptions?.fill"
                 [dataLabels]="chartOptions?.dataLabels"
                 [responsive]="chartOptions?.responsive"
      ></apx-chart>
      <div class="row">
        <div *ngIf="btc > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{btc}} BTC -
        <span *ngIf="fiat === 'USD'">{{btc * poolBtc?.priceA | currency:'USD'}}</span>
        <span *ngIf="fiat === 'EUR'">{{btc * poolBtc?.priceA * usdToEur | currency:'EUR'}}</span>
        <span *ngIf="fiat === 'CHF'"> {{btc * poolBtc?.priceA * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
        <div *ngIf="eth > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{eth}} ETH -
            <span *ngIf="fiat === 'USD'">{{eth * poolEth?.priceA | currency:'USD'}}</span>
            <span *ngIf="fiat === 'EUR'">{{eth * poolEth?.priceA * usdToEur | currency:'EUR'}}</span>
            <span *ngIf="fiat === 'CHF'">{{eth * poolEth?.priceA * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
        <div *ngIf="usdt > 0" class="col-auto bg-light margin-col">
          <h3><span class="badge badge-pill badge-primary left"> {{usdt}} USDT -
            <span *ngIf="fiat === 'USD'">{{usdt * poolUsdt?.priceA | currency:'USD'}}</span>
            <span *ngIf="fiat === 'EUR'">{{usdt * poolUsdt?.priceA * usdToEur | currency:'EUR'}}</span>
            <span *ngIf="fiat === 'CHF'">{{usdt * poolUsdt?.priceA * usdToChf | currency:'CHF'}}</span>
        </span></h3>
        </div>
      </div>
      <h3><span
        class="badge badge-pill badge-primary left"> {{dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet}} DFI -
        <span
          *ngIf="fiat === 'USD'">{{(dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB | currency:'USD'}}</span>
        <span
          *ngIf="fiat === 'EUR'">{{(dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB * usdToEur | currency:'EUR'}}</span>
        <span
          *ngIf="fiat === 'CHF'">{{(dfiInEthPool + dfiInBtcPool + dfiInUsdtPool + dfiInStaking + dfiInWallet) * poolBtc?.priceB * usdToChf | currency:'CHF'}}</span>
        </span>
      </h3>
    </div>
  </div>
</div>


<div class="container left">
  <h1><span class="badge badge-secondary left">Your income</span></h1>
  <div class="row">
    <div class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Overall Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{btc}} BTC - {{eth}}
        ETH - USDT {{usdt}} - {{dfiInEthPool + dfiInUsdtPool + dfiInBtcPool + dfiInStaking}} DFI </span></p>
      <p>Min <span class="badge badge-pill badge-info">{{stakingOut.dfiPerMin + poolOut.dfiPerMin| number: '1.2-2' }}
        DFI =
         <span
           *ngIf="fiat === 'USD'"> {{(stakingOut.dfiPerMin + poolOut.dfiPerMin) * poolBtc?.priceB | currency:'USD' }}</span>
        <span
          *ngIf="fiat === 'EUR'"> {{(stakingOut.dfiPerMin + poolOut.dfiPerMin) * poolBtc?.priceB * usdToEur | currency:'EUR' }}</span>
        <span
          *ngIf="fiat === 'CHF'">{{(stakingOut.dfiPerMin + poolOut.dfiPerMin) * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span>
      </span>

      </p>

      <p>Hour <span class="badge badge-pill badge-info">{{stakingOut.dfiPerHour + poolOut.dfiPerHour | number: '1.2-2' }}
        DFI =
        <span
          *ngIf="fiat === 'USD'"> {{(stakingOut.dfiPerHour + poolOut.dfiPerHour) * poolBtc?.priceB | currency:'USD' }}</span>
         <span
           *ngIf="fiat === 'EUR'"> {{(stakingOut.dfiPerHour + poolOut.dfiPerHour) * poolBtc?.priceB * usdToEur | currency:'EUR' }}</span>
        <span
          *ngIf="fiat === 'CHF'"> {{(stakingOut.dfiPerHour + poolOut.dfiPerHour) * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>

      <p>Day <span class="badge badge-pill badge-info">{{stakingOut.dfiPerDay + poolOut.dfiPerDay | number: '1.2-2' }}
        DFI =
        <span
          *ngIf="fiat === 'USD'"> {{(stakingOut.dfiPerDay + poolOut.dfiPerDay) * poolBtc?.priceB | currency:'USD' }}</span>
        <span
          *ngIf="fiat === 'EUR'">
           {{(stakingOut.dfiPerDay + poolOut.dfiPerDay) * poolBtc?.priceB * usdToEur | currency:'EUR' }}</span>
        <span
          *ngIf="fiat === 'CHF'">
        {{(stakingOut.dfiPerDay + poolOut.dfiPerDay) * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>

      <p>Week <span class="badge badge-pill badge-info"> {{stakingOut.dfiPerWeek + poolOut.dfiPerWeek | number: '1.2-2' }}
        DFI =
         <span
           *ngIf="fiat === 'USD'">  {{(stakingOut.dfiPerWeek + poolOut.dfiPerWeek) * poolBtc?.priceB | currency:'USD' }}</span>
         <span
           *ngIf="fiat === 'EUR'"> {{(stakingOut.dfiPerWeek + poolOut.dfiPerWeek) * poolBtc?.priceB * usdToEur | currency:'EUR' }}</span>
         <span
           *ngIf="fiat === 'CHF'"> {{(stakingOut.dfiPerWeek + poolOut.dfiPerWeek) * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span>
      </span>
      </p>
      <p>Month <span class="badge badge-pill badge-info">{{stakingOut.dfiPerMonth + poolOut.dfiPerMonth | number: '1.2-2' }}
        DFI =
           <span
             *ngIf="fiat === 'USD'"> {{(stakingOut.dfiPerMonth + poolOut.dfiPerMonth) * poolBtc?.priceB  | currency:'USD' }}</span>
           <span
             *ngIf="fiat === 'EUR'"> {{(stakingOut.dfiPerMonth + poolOut.dfiPerMonth) * poolBtc?.priceB * usdToEur | currency:'EUR' }}</span>

           <span
             *ngIf="fiat === 'CHF'"> {{(stakingOut.dfiPerMonth + poolOut.dfiPerMonth) * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span>
        </span>
      </p>
    </div>

  </div>
</div>
<div class="container left">
  <div class="row">
    <div *ngIf="dfiInStaking > 0" class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Staking Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{dfiInStaking}} DFI </span></p>
      <p>Min <span class="badge badge-pill badge-info">{{stakingOut.dfiPerMin| number: '1.2-2' }} DFI
        , {{stakingOut.dfiPerMin * poolBtc?.priceB | currency:'USD' }}
        , {{stakingOut.dfiPerMin * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{stakingOut.dfiPerMin * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Hour <span class="badge badge-pill badge-info">{{stakingOut.dfiPerHour | number: '1.2-2' }} DFI
        , {{stakingOut.dfiPerHour * poolBtc?.priceB | currency:'USD' }}
        , {{stakingOut.dfiPerHour * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{stakingOut.dfiPerHour * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Day <span class="badge badge-pill badge-info">{{stakingOut.dfiPerDay  | number: '1.2-2' }} DFI
        , {{stakingOut.dfiPerDay * poolBtc?.priceB | currency:'USD' }}
        , {{stakingOut.dfiPerDay * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{stakingOut.dfiPerDay * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Week <span class="badge badge-pill badge-info"> {{stakingOut.dfiPerWeek | number: '1.2-2' }} DFI
        , {{stakingOut.dfiPerWeek * poolBtc?.priceB | currency:'USD' }}
        , {{stakingOut.dfiPerWeek * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{stakingOut.dfiPerWeek * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Month <span class="badge badge-pill badge-info">{{stakingOut.dfiPerMonth | number: '1.2-2' }} DFI
        , {{stakingOut.dfiPerMonth * poolBtc?.priceB | currency:'USD' }}
        , {{stakingOut.dfiPerMonth * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{stakingOut.dfiPerMonth * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>
    </div>

    <div *ngIf="btc > 0 || eth > 0 " class="col-auto bg-light margin-col">
      <h2><span class="badge badge-pill badge-success left">Liguidity Mining Income</span></h2>
      <p>Balance <span class="badge badge-pill badge-primary left"> {{btc}} BTC - {{eth}}
        ETH - USDT {{usdt}} - {{dfiInEthPool + dfiInUsdtPool + dfiInBtcPool}} DFI </span></p>
      <p>Min <span class="badge badge-pill badge-info">{{poolOut.dfiPerMin| number: '1.2-2' }} DFI
        , {{poolOut.dfiPerMin * poolBtc?.priceB | currency:'USD' }}
        , {{poolOut.dfiPerMin * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolOut.dfiPerMin * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Hour <span class="badge badge-pill badge-info">{{poolOut.dfiPerHour | number: '1.2-2' }} DFI
        , {{poolOut.dfiPerHour * poolBtc?.priceB | currency:'USD' }}
        , {{poolOut.dfiPerHour * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolOut.dfiPerHour * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Day <span class="badge badge-pill badge-info">{{poolOut.dfiPerDay  | number: '1.2-2' }} DFI
        , {{poolOut.dfiPerDay * poolBtc?.priceB | currency:'USD' }}
        , {{poolOut.dfiPerDay * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolOut.dfiPerDay * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Week <span class="badge badge-pill badge-info"> {{poolOut.dfiPerWeek | number: '1.2-2' }} DFI
        , {{poolOut.dfiPerWeek * poolBtc?.priceB | currency:'USD' }}
        , {{poolOut.dfiPerWeek * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolOut.dfiPerWeek * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Month <span class="badge badge-pill badge-info">{{poolOut.dfiPerMonth | number: '1.2-2' }} DFI
        , {{poolOut.dfiPerMonth * poolBtc?.priceB | currency:'USD' }}
        , {{poolOut.dfiPerMonth * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolOut.dfiPerMonth * poolBtc?.priceB * usdToChf | currency:'CHF' }}
      </span></p>
    </div>


  </div>
</div>
<div class="container left">
  <div class="row">
    <div *ngIf="btc > 0 || dfiInBtcPool > 0" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">BTC/DFI {{poolBtc?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolBtc| number: '1.4-4' }} % </span></p>

      <span class="badge badge-pill badge-success">EARNINGS</span>
      <p>Min <span class="badge badge-pill badge-info">{{poolBtcOut.dfiPerMinBtc | number: '1.2-2' }} DFI
        , {{poolBtcOut.dfiPerMinBtc * poolBtc?.priceB | currency:'USD' }}
        , {{poolBtcOut.dfiPerMinBtc * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolBtcOut.dfiPerMinBtc * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Hour <span class="badge badge-pill badge-info">{{poolBtcOut.dfiPerHourBtc | number: '1.2-2' }} DFI
        , {{poolBtcOut.dfiPerHourBtc * poolBtc?.priceB | currency:'USD' }}
        , {{poolBtcOut.dfiPerHourBtc * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolBtcOut.dfiPerHourBtc * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Day <span class="badge badge-pill badge-info">{{poolBtcOut.dfiPerDayBtc | number: '1.2-2' }} DFI
        , {{poolBtcOut.dfiPerDayBtc * poolBtc?.priceB | currency:'USD' }}
        , {{poolBtcOut.dfiPerDayBtc * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolBtcOut.dfiPerDayBtc * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Week <span class="badge badge-pill badge-info"> {{poolBtcOut.dfiPerWeekBtc | number: '1.2-2' }} DFI
        , {{poolBtcOut.dfiPerWeekBtc * poolBtc?.priceB | currency:'USD' }}
        , {{poolBtcOut.dfiPerWeekBtc * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolBtcOut.dfiPerWeekBtc * poolBtc?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Month <span class="badge badge-pill badge-info">{{poolBtcOut.dfiPerMonthBtc | number: '1.2-2' }} DFI
        , {{poolBtcOut.dfiPerMonthBtc * poolBtc?.priceB | currency:'USD' }}
        , {{poolBtcOut.dfiPerMonthBtc * poolBtc?.priceB * usdToEur | currency:'EUR' }}
        , {{poolBtcOut.dfiPerMonthBtc * poolBtc?.priceB * usdToChf | currency:'CHF' }} </span></p>

    </div>
    <div *ngIf=" eth > 0 || dfiInEthPool" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">ETH/DFI {{poolEth?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolEth| number: '1.4-4' }} %</span></p>

      <span class="badge badge-pill badge-success mat-badge-large">EARNINGS</span>
      <p>Min <span class="badge badge-pill badge-info">{{poolEthOut.dfiPerMinEth | number: '1.2-2' }} DFI
        , {{poolEthOut.dfiPerMinEth * poolEth?.priceB | currency:'USD' }}
        , {{poolEthOut.dfiPerMinEth * poolEth?.priceB * usdToEur | currency:'EUR' }}
        , {{poolEthOut.dfiPerMinEth * poolEth?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Hour <span class="badge badge-pill badge-info"> {{poolEthOut.dfiPerHourEth | number: '1.2-2' }} DFI
        , {{poolEthOut.dfiPerHourEth * poolEth?.priceB | currency:'USD' }}
        , {{poolEthOut.dfiPerHourEth * poolEth?.priceB * usdToEur | currency:'EUR' }}
        , {{poolEthOut.dfiPerHourEth * poolEth?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Day <span class="badge badge-pill badge-info">{{poolEthOut.dfiPerDayEth | number: '1.2-2' }} DFI
        , {{poolEthOut.dfiPerDayEth * poolEth?.priceB | currency:'USD' }}
        , {{poolEthOut.dfiPerDayEth * poolEth?.priceB * usdToEur | currency:'EUR' }}
        , {{poolEthOut.dfiPerDayEth * poolEth?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Week <span class="badge badge-pill badge-info">{{poolEthOut.dfiPerWeekEth | number: '1.2-2' }} DFI
        , {{poolEthOut.dfiPerWeekEth * poolEth?.priceB | currency:'USD' }}
        , {{poolEthOut.dfiPerWeekEth * poolEth?.priceB * usdToEur | currency:'EUR' }}
        , {{poolEthOut.dfiPerWeekEth * poolEth?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Month <span class="badge badge-pill badge-info">{{poolEthOut.dfiPerMonthEth | number: '1.2-2' }} DFI
        , {{poolEthOut.dfiPerMonthEth * poolEth?.priceB | currency:'USD' }}
        , {{poolEthOut.dfiPerMonthEth * poolEth?.priceB * usdToEur | currency:'EUR' }}
        , {{poolEthOut.dfiPerMonthEth * poolEth?.priceB * usdToChf | currency:'CHF' }}</span></p>

    </div>
    <div *ngIf=" usdt > 0 || dfiInUsdtPool > 0" class="col-auto bg-light margin-col">
      <span class="badge badge-pill badge-dark">USDT/DFI {{poolUsdt?.apy | number: '1.2-2' }}%</span>
      <p>Pool share <span class="badge badge-pill badge-info">{{anteilAmPoolUsdt| number: '1.4-4' }} %</span></p>

      <span class="badge badge-pill badge-success mat-badge-large">EARNINGS</span>
      <p>Min <span class="badge badge-pill badge-info">{{poolUsdtOut.dfiPerMinUsdt | number: '1.2-2' }} DFI
        , {{poolUsdtOut.dfiPerMinUsdt * poolUsdt?.priceB | currency:'USD' }}
        , {{poolUsdtOut.dfiPerMinUsdt * poolUsdt?.priceB * usdToEur | currency:'EUR' }}
        , {{poolUsdtOut.dfiPerMinUsdt * poolUsdt?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Hour <span class="badge badge-pill badge-info"> {{poolUsdtOut.dfiPerHourUsdt | number: '1.2-2' }} DFI
        , {{poolUsdtOut.dfiPerHourUsdt * poolUsdt?.priceB | currency:'USD' }}
        , {{poolUsdtOut.dfiPerHourUsdt * poolUsdt?.priceB * usdToEur | currency:'EUR' }}
        , {{poolUsdtOut.dfiPerHourUsdt * poolUsdt?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Day <span class="badge badge-pill badge-info">{{poolUsdtOut.dfiPerDayUsdt | number: '1.2-2' }} DFI
        , {{poolUsdtOut.dfiPerDayUsdt * poolUsdt?.priceB | currency:'USD' }}
        , {{poolUsdtOut.dfiPerDayUsdt * poolUsdt?.priceB * usdToEur | currency:'EUR' }}
        , {{poolUsdtOut.dfiPerDayUsdt * poolUsdt?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Week <span class="badge badge-pill badge-info">{{poolUsdtOut.dfiPerWeekUsdt | number: '1.2-2' }} DFI
        , {{poolUsdtOut.dfiPerWeekUsdt * poolUsdt?.priceB | currency:'USD' }}
        , {{poolUsdtOut.dfiPerWeekUsdt * poolUsdt?.priceB * usdToEur | currency:'EUR' }}
        , {{poolUsdtOut.dfiPerWeekUsdt * poolUsdt?.priceB * usdToChf | currency:'CHF' }}</span></p>

      <p>Month <span class="badge badge-pill badge-info">{{poolUsdtOut.dfiPerMonthUsdt | number: '1.2-2' }} DFI
        , {{poolUsdtOut.dfiPerMonthUsdt * poolUsdt?.priceB | currency:'USD' }}
        , {{poolUsdtOut.dfiPerMonthUsdt * poolUsdt?.priceB * usdToEur | currency:'EUR' }}
        , {{poolUsdtOut.dfiPerMonthUsdt * poolUsdt?.priceB * usdToChf | currency:'CHF' }}</span></p>

    </div>
  </div>
</div>
<br><br><br><br><br><br>


