  <div class="grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2">
    <div>
      <h2>Min</h2>
    </div>
    <div class="col-span-2 lg:col-span-3">
      <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
        {{out.dfiPerMin | number: '1.2-2'}} DFI -
        <app-price [fiat]="fiat" [usdPrice]="getOutcomeOfPoolPerMinUsd(out)"></app-price>
     </span>
    </div>

    <div>
      <h2>{{ 'hour' | translate }}</h2>
    </div>
    <div class="col-span-2 lg:col-span-3">
      <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
        {{out.dfiPerHour| number: '1.2-2'}} DFI -
        <app-price [fiat]="fiat" [usdPrice]="getOutcomeOfPoolPerHourUsd(out) "></app-price>
      </span>
    </div>

    <div>
      <h2>{{ 'day' | translate }}</h2>
    </div>
    <div class="col-span-2 lg:col-span-3">
      <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
        {{out.dfiPerDay| number: '1.2-2'}} DFI -
        <app-price [fiat]="fiat" [usdPrice]="getOutcomeOfPoolPerDayUsd(out)"></app-price>
      </span>
    </div>

    <div>
      <h2>{{ 'month' | translate }}</h2>
    </div>
    <div class="col-span-2 lg:col-span-3">
      <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
        {{out.dfiPerMonth| number: '1.2-2'}} DFI -
        <app-price [fiat]="fiat" [usdPrice]="getOutcomeOfPoolPerMonthUsd(out)"></app-price>
      </span>
    </div>

    <div>
      <h2>{{ 'year' | translate }}</h2>
    </div>
    <div class="col-span-2 lg:col-span-3">
      <span class="rounded-full bg-pink-500 hover:bg-gray-800 transition-all text-white text-sm px-2 py-1 cursor-pointer">
        {{out.dfiPerYear| number: '1.2-2'}} DFI -
       <app-price [fiat]="fiat" [usdPrice]="getOutcomeOfPoolPerYearUsd(out) "></app-price>
      </span>
    </div>
  </div>
