<div>
  <h1 [ngClass]="{'text-3xl text-pink-500': !showOnlyGraph, 'text-lg': showOnlyGraph}">
    {{ "income.title" | translate }}
  </h1>
  <h2 class="text-lg mt-2 mb-4">
    {{ "income.distribution" | translate }}
  </h2>

  <div
    class="grid grid-flow-row grid-cols-1 auto-rows-max gap-4 lg:gap-2"
    [ngClass]="{'lg:grid-cols-2': !showOnlyGraph}"
  >
    <div class="order-2 lg:order-1" *ngIf="chartOptions2 && chartOptions2.series.length > 0">
      <apx-chart
        [series]="chartOptions2?.series"
        [chart]="chartOptions2?.chart"
        [labels]="chartOptions2?.labels"
        [colors]="chartOptions2?.colors"
        [fill]="chartOptions2?.fill"
        [stroke]="chartOptions2?.stroke"
        [responsive]="chartOptions2?.responsive"
      ></apx-chart>
    </div>

    <div *ngIf="!showOnlyGraph" class="order-1 lg:order-2">
      <div class="grid grid-flow-col grid-cols-2 select-none mb-4">
        <a
          (click)="handleTab('Staking')"
          class="text-center cursor-pointer uppercase border-r-2"
          [ngClass]="{ 'text-pink-500': selectedTab === 'Staking' }"
        >
          Staking
        </a>
        <a
          (click)="handleTab('LM')"
          class="text-center cursor-pointer uppercase"
          [ngClass]="{ 'text-pink-500': selectedTab === 'LM' }"
        >
          Liquidity Mining
        </a>
      </div>

      <div *ngIf="selectedTab === 'Staking'">
        <div *ngIf="dfiInStaking < 1">
          {{ "noStakingAvailable" | translate }}
        </div>
        <div *ngIf="dfiInStaking > 0">
          <h3 class="mb-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2">
            <div>
              {{ "balance" | translate }}
            </div>
            <div>
              <span class="rounded-full bg-gray-800 hover:bg-pink-500 transition-all text-white text-sm px-2 py-1 cursor-pointer">
                {{ dfiInStaking }} DFI
              </span>
            </div>

          </h3>
          <h3 class="mb-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2">
            <div>
              {{ "balance" | translate }} in Fiat
            </div>
            <div>
              <span class="rounded-full bg-gray-800 hover:bg-pink-500 transition-all text-white text-sm px-2 py-1 cursor-pointer">
                <span *ngIf="fiat === 'USD'">{{ getDfiCountStakingCalcUsd() | currency: "USD" }}</span>
                <span *ngIf="fiat === 'EUR'">{{ getDfiCountStakingCalcUsd() * usdToEur | currency: "EUR" }}</span>
                <span *ngIf="fiat === 'CHF'">{{ getDfiCountStakingCalcUsd() * usdToChf | currency: "CHF" }}</span>
                <span *ngIf="fiat === 'GBP'">{{ getDfiCountStakingCalcUsd() * usdToGbp | currency: "GBP" }}</span>
              </span>
            </div>
          </h3>

          <div class="mt-2">
            <app-earning
              [out]="stakingOut"
              [pool]="poolBtc"
              [fiat]="fiat"
              [usdToEur]="usdToEur"
              [usdToChf]="usdToChf"
              [usdToGbp]="usdToGbp"
              >
            </app-earning>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTab === 'LM'">
        <h3 class="text-lg font-semibold mt-4 mb-1">
          {{ "income.share" | translate }}
        </h3>

        <div class="mb-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-3 lg:gap-3 gap-6 border-b pb-2"
          >
            <span class="text-xl" *ngIf="wallet?.btcInBtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilBTCPoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              BTC
            </span>
            <span class="text-xl" *ngIf="wallet?.ethInEthPool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilETHPoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              ETH
            </span>
            <span class="text-xl" *ngIf="wallet?.ltcInLtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilLTCPoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              LTC
            </span>
            <span class="text-xl" *ngIf="wallet?.usdtInUsdtPool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilUSDTPoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              USDT
            </span>
            <span class="text-xl" *ngIf="wallet?.dogeInDogePool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilDogePoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              DOGE
            </span>
            <span class="text-xl" *ngIf="wallet?.bchInBchPool > 0">
              <span class="text-pink-500 font-semibold">
                {{ getAnteilBchPoolAnGesamtLM | number: "1.1-1" }} %
              </span>
              BCH
            </span>
          </span>
        </div>

        <h3 class="text-lg font-semibold mt-4 mb-1">
          {{ "balance" | translate }}
        </h3>

        <span class="grid grid-flow-row auto-rows-max grid-cols-3 lg:gap-3 gap-6 border-b pb-2">
          <span class="text-xl">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.btcInBtcPool | number: "1.5-5" }}
            </span>
            BTC
          </span>
          <span class="text-xl">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.ethInEthPool | number: "1.3-3" }}
            </span>
            ETH
          </span>
          <span class="text-xl" *ngIf="wallet?.usdtInUsdtPool > 0">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.usdtInUsdtPool | number: "1.3-3" }}
            </span>
            USDT
          </span>
          <span class="text-xl" *ngIf="wallet?.ltcInLtcPool > 0">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.ltcInLtcPool | number: "1.3-3" }}
            </span>
            LTC 
          </span>
          <span class="text-xl" *ngIf="wallet?.dogeInDogePool > 0">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.dogeInDogePool | number: "1.3-3" }}
            </span>
            DOGE 
          </span>
          <span class="text-xl" *ngIf="wallet?.bchInBchPool > 0">
            <span class="text-pink-500 font-semibold">
              {{ wallet?.bchInBchPool | number: "1.3-3" }}
            </span>
            BCH 
          </span>
          <span class="text-xl">
            <span class="text-pink-500 font-semibold">
              {{ getDfiCountInLM | number: "1.3-3" }} 
            </span>
            DFI
          </span>
        </span>

        <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2">
          <span>
            {{ "balance" | translate }} in Fiat
          </span>
          <div>
            <span class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <span *ngIf="fiat === 'USD'">{{ getLMUsd | currency: "USD" }}</span>
              <span *ngIf="fiat === 'EUR'">{{ getLMUsd * usdToEur | currency: "EUR" }}</span>
              <span *ngIf="fiat === 'CHF'">{{ getLMUsd * usdToChf | currency: "CHF" }}</span>
              <span *ngIf="fiat === 'GBP'">{{ getLMUsd * usdToGbp | currency: "GBP" }}</span>
            </span>
          </div>
        </h3>
        <app-earning
          [out]="poolOut"
          [pool]="poolBtc"
          [fiat]="fiat"
          [usdToEur]="usdToEur"
          [usdToChf]="usdToChf"
          [usdToGbp]="usdToGbp"
        ></app-earning>
      </div>
    </div>
  </div>
</div>
