<div>
  <h1 [ngClass]="{'text-3xl text-pink-500': !showOnlyGraph, 'text-lg dark:text-gray-100': showOnlyGraph}">
    {{ "income.title" | translate }}
  </h1>
  <h2 class="text-lg mt-2 mb-4 dark:text-gray-100">
    {{ "income.distribution" | translate }}
  </h2>

  <div
    class="grid grid-flow-row grid-cols-1 auto-rows-max gap-4 lg:gap-2"
    [ngClass]="{'lg:grid-cols-2': !showOnlyGraph}"
  >
    <div class="order-2 lg:order-1" *ngIf="chartOptions2 && chartOptions2.series.length > 0">
      <apx-chart
        [series]="chartOptions2?.series"
        [chart]="chartOptions2?.chart"
        [labels]="chartOptions2?.labels"
        [colors]="chartOptions2?.colors"
        [fill]="chartOptions2?.fill"
        [stroke]="chartOptions2?.stroke"
        [responsive]="chartOptions2?.responsive"
        [theme]="{ mode: getTheme() }"
      ></apx-chart>
    </div>

    <div class="order-1 lg:order-2">
      <div class="grid grid-flow-col select-none mb-4"
           [ngClass]="wallet.dfiInMasternodes > 0 ? 'grid-cols-4 ':  'grid-cols-3'">
        <a
          (click)="handleTab('All')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'All' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          {{ 'income.all' | translate }}
        </a>
        <a
          (click)="handleTab('Staking')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'Staking' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          Staking
        </a>
        <a
          (click)="handleTab('LM')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2"
          [ngClass]="selectedTab === 'LM' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          <span class="sm:hidden">LM</span>
          <span class="hidden sm:block">Liquidity Mining</span>
        </a>
        <a *ngIf="wallet.dfiInMasternodes > 0"
          (click)="handleTab('MN')"
          class="flex items-center justify-center text-center cursor-pointer border-b-2 border-transparent uppercase pb-2 overflow-hidden overflow-ellipsis flow-root"
          [ngClass]="selectedTab === 'MN' ? 'text-pink-500 border-pink-500':  'dark:text-gray-100'"
        >
          Masternode
        </a>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'All'">

        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "income.share" | translate }}
        </h3>

        <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max  grid-cols-2 md:grid-cols-3 lg:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2 mb-2"
          >
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilStakingOfIncome() | number: "1.3-3"}} %
              </span>
              Staking
            </span>
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilLMOfIncome() | number: "1.3-3"}} %
              </span>
              LM
            </span>
            <span *ngIf="wallet?.dfiInMasternodes" class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{getAnteilMasternodeOfIncome() | number: "1.3-3"}} %
              </span>
              Masternode
            </span>
          </span>
        </div>

        <app-earning
          [isIncognitoModeOn]="isIncognitoModeOn"
          [out]="poolAllOut"
          [pool]="poolBtc"
          [fiat]="fiat"
        ></app-earning>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'Staking'">
        <div *ngIf="dfiInStaking < 1" class="dark:text-gray-100">
          {{ "noStakingAvailable" | translate }}
        </div>
        <div *ngIf="dfiInStaking > 0">

          <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
            {{ "balance" | translate }}
          </h3>

          <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-1 lg:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2"
          >
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : dfiInStaking | number: "1.2-2"}}
              </span>
              DFI
            </span>
            <span class="text-xl dark:text-gray-100">
               <span class="text-pink-500 font-semibold">
                {{stakingApy | number: "1.1-1"}}
              </span>
              % APY
            </span>
          </span>
          </div>

          <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
            <div>
              {{ "balance" | translate}} in Fiat
            </div>
            <div>
              <span class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
                <app-price *ngIf="!isIncognitoModeOn" [fiat]="fiat" [usdPrice]="getDfiCountStakingUsd()"></app-price>
                <div *ngIf="isIncognitoModeOn">****</div>
              </span>
            </div>
          </h3>
          <br>
          <div class="mt-2">
            <app-earning
              [isIncognitoModeOn]="isIncognitoModeOn"
              [out]="stakingOut"
              [pool]="poolBtc"
              [fiat]="fiat"
            >
            </app-earning>
          </div>
        </div>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'LM'">
        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "income.share" | translate }}
        </h3>

        <div class="grid grid-flow-col grid-cols-2 md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-2 md:grid-cols-3 lg:gap-4 gap-6 border-b pb-2 col-span-2"
          >
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.btcInBtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBTCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BTC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ethInEthPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilETHPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              ETH
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ltcInLtcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilLTCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              LTC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdtInUsdtPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUSDTPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USDT
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdcInUsdcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUSDCPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USDC
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.dogeInDogePool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilDogePoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              DOGE
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.bchInBchPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBchPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BCH
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdInUsdPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUsdPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              USD
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tslaInTslaPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilTslaPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              TSLA
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.spyInSpyPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilSpyPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              SPY
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.qqqInQqqPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilQqqPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              QQQ
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pltrInPltrPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPltrPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PLTR
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.slvInSlvPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilSlvPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              SLV
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.aaplInAaplPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilAaplPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              AAPL
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gldInGldPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGldPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GLD
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gmeInGmePool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGmePoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GME
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.googlInGooglPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilGooglPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              GOOGL
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.arkkInArkkPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilArkkPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              ARKK
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.babaInBabaPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilBabaPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              BABA
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.vnqInVnqPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilVnqPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              VNQ
            </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.urthInUrthPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilUrthPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              URTH
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tltInTltPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilTltPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              TLT
            </span>
             <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pdbcInPdbcPool > 0">
              <span class="text-pink-500 font-semibold">
                {{getAnteilPdbcPoolAnGesamtLM | number: "1.1-1"}} %
              </span>
              PDBC
            </span>
          </span>
        </div>

        <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
          {{ "balance" | translate }}
        </h3>

        <span *ngIf="isIncognitoModeOn" class="grid grid-flow-row auto-rows-max grid-cols-2 md:grid-cols-3 lg:gap-4 gap-6 border-b pb-2">
          <span class="text-xl dark:text-gray-100">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.btcInBtcPool | number: "1.5-5"}}
            </div>
            BTC
          </span>
          <span class="text-xl dark:text-gray-100">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.ethInEthPool | number: "1.3-3"}}
            </div>
            ETH
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdtInUsdtPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.usdtInUsdtPool | number: "1.3-3"}}
            </div>
            USDT
          </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdcInUsdcPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.usdcInUsdcPool | number: "1.3-3"}}
            </div>
            USDC
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.ltcInLtcPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.ltcInLtcPool | number: "1.3-3"}}
            </div>
            LTC
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.dogeInDogePool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.dogeInDogePool | number: "1.3-3"}}
            </div>
            DOGE
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.bchInBchPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.bchInBchPool | number: "1.3-3"}}
            </div>
            BCH
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.usdInUsdPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.usdInUsdPool | number: "1.3-3"}}
            </div>
            DUSD
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tslaInTslaPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.tslaInTslaPool | number: "1.3-3"}}
            </div>
            TSLA
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.spyInSpyPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.spyInSpyPool | number: "1.3-3"}}
            </div>
            SPY
          </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.qqqInQqqPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.qqqInQqqPool | number: "1.3-3"}}
            </div>
            QQQ
          </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pltrInPltrPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.pltrInPltrPool | number: "1.3-3"}}
            </div>
            PLTR
          </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.slvInSlvPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.slvInSlvPool | number: "1.3-3"}}
            </div>
            SLV
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.aaplInAaplPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.aaplInAaplPool | number: "1.3-3"}}
            </div>
            AAPL
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gldInGldPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.gldInGldPool | number: "1.3-3"}}
            </div>
            GLD
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.gmeInGmePool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.gmeInGmePool | number: "1.3-3"}}
            </div>
            GME
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.googlInGooglPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.googlInGooglPool | number: "1.3-3"}}
            </div>
            GOOGL
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.arkkInArkkPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.arkkInArkkPool | number: "1.3-3"}}
            </div>
            ARKK
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.babaInBabaPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.babaInBabaPool | number: "1.3-3"}}
            </div>
            BABA
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.vnqInVnqPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.vnqInVnqPool | number: "1.3-3"}}
            </div>
            VNQ
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.urthInUrthPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.urthInUrthPool | number: "1.3-3"}}
            </div>
            URTH
          </span>
            <span class="text-xl dark:text-gray-100" *ngIf="wallet?.tltInTltPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.tltInTltPool | number: "1.3-3"}}
            </div>
            TLT
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.pdbcInPdbcPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.pdbcInPdbcPool | number: "1.3-3"}}
            </div>
            PDBC
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.amznInAmznPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.amznInAmznPool | number: "1.3-3"}}
            </div>
            AMZN
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.nvdaInNvdaPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.nvdaInNvdaPool | number: "1.3-3"}}
            </div>
            NVDA
          </span>
           <span class="text-xl dark:text-gray-100" *ngIf="wallet?.coinInCoinPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.coinInCoinPool | number: "1.3-3"}}
            </div>
            COIN
          </span>
          <span class="text-xl dark:text-gray-100" *ngIf="wallet?.eemInEemPool > 0">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : wallet?.eemInEemPool | number: "1.3-3"}}
            </div>
            EEM
          </span>
          <span class="text-xl dark:text-gray-100">
            <div class="text-pink-500 font-semibold inline-block">
              {{isIncognitoModeOn ? '****' : getDfiCountInLM | number: "1.3-3"}}
            </div>
            DFI
          </span>
        </span>

        <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
          <span>
            {{ "balance" | translate}} in Fiat
          </span>
          <div>
            <span class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
              <app-price *ngIf="!isIncognitoModeOn" [fiat]="fiat" [usdPrice]="getLMUsd"></app-price>
              <div *ngIf="isIncognitoModeOn">****</div>
            </span>
          </div>
        </h3>
        <br>
        <app-earning
          [isIncognitoModeOn]="isIncognitoModeOn"
          [out]="poolOut"
          [pool]="poolBtc"
          [fiat]="fiat"
        ></app-earning>
      </div>

      <div class="rounded p-2 bg-gray-100 dark:bg-gray-600" *ngIf="selectedTab === 'MN'">
        <div *ngIf="wallet?.dfiInMasternodes < 1">
          {{ "noStakingAvailable" | translate }}
        </div>
        <div *ngIf="wallet?.dfiInMasternodes > 0">

          <h3 class="text-lg font-semibold mt-4 mb-1 dark:text-gray-100">
            {{ "balance" | translate }}
          </h3>

          <div class="grid grid-flow-col md:gap-2">
          <span
            class="grid grid-flow-row auto-rows-max grid-cols-3 lg:gap-2 gap-6 border-b pb-2">
            <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : wallet?.dfiInMasternodes | number: "1.2-2"}}
              </span>
              Total
            </span>
             <span class="text-xl dark:text-gray-100">
              <span class="text-pink-500 font-semibold">
                {{isIncognitoModeOn ? '****' : getBalanceMasternode() | number: "1.2-2"}}
              </span>
              Balance
            </span>
            <span class="text-xl dark:text-gray-100">
               <span class="text-pink-500 font-semibold">
                {{masternodesApr | number: "1.1-1"}}
              </span>
              % APR
            </span>
          </span>
          </div>

          <h3 class="my-2 grid grid-flow-row grid-cols-3 lg:grid-cols-4 auto-rows-max auto-cols-fr gap-2 dark:text-gray-100">
            <div>
              {{ "balance" | translate}} in Fiat
            </div>
            <div>
              <span class="rounded-full bg-gray-800 hover:bg-pink-500 text-white text-sm px-2 py-1 transition-all cursor-pointer">
                <app-price *ngIf="!isIncognitoModeOn" [fiat]="fiat" [usdPrice]="getDfiCountMasternodesUsd()"></app-price>
                <div *ngIf="isIncognitoModeOn">****</div>
              </span>
            </div>
          </h3>
          <br>
          <div class="mt-2">
            <app-earning
              [isIncognitoModeOn]="isIncognitoModeOn"
              [out]="masternodeOut"
              [pool]="poolBtc"
              [fiat]="fiat"
            >
            </app-earning>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
