<div class="col-sm bg-light margin-col">
  <h2><span
    class="badge badge-pill badge-success left">{{ 'target-reward-title-lm' | translate }}</span>
  </h2>
  <p>{{ 'target-reward-sub-lm' | translate }} pool {{poolLmCalculationTargetReturn}}</p>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button (click)="onChangeLmCalculationTargetPool('BTC')" type="button"
            class="btn margin-col small btn-danger">BTC
    </button>
    <button (click)="onChangeLmCalculationTargetPool('ETH')" type="button"
            class="btn margin-col small btn-danger">ETH
    </button>
    <button (click)="onChangeLmCalculationTargetPool('LTC')" type="button"
            class="btn margin-col small btn-danger">LTC
    </button>
    <button (click)="onChangeLmCalculationTargetPool('USDT')" type="button"
            class="btn margin-col small btn-danger">USDT
    </button>
    <button (click)="onChangeLmCalculationTargetPool('DOGE')" type="button"
            class="btn margin-col small btn-danger">DOGE
    </button>
    <button (click)="onChangeLmCalculationTargetPool('BCH')" type="button"
            class="btn margin-col small btn-danger">BCH
    </button>
  </div>
  <div class="row">
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturnMinBtcPool">DFI per Min</label>
        <input required [(ngModel)]="aimReturnMinPool" (ngModelChange)="onChangeAimReturnMinPool($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnMinBtcPool" placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }} Min.</small>
      </div>
      <h3><span
        class="badge badge-pill badge-success left">{{anteilNeededForAimReturnMinPool | number: '1.4-4' }}
        {{ 'share' | translate }} = {{dfiNeededForAimReturnMinPool | number: '1.2-2' }}
        DFI / {{btcNeededForAimReturnMinPool | number: '1.3-3' }} {{poolLmCalculationTargetReturn}}
              </span></h3>
    </div>
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturnDayBtcPool">DFI per {{ 'day' | translate }}</label>
        <input required [(ngModel)]="aimReturnDayPool" (ngModelChange)="onChangeAimReturnDayPool($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnDayBtcPool" placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }} {{ 'day' | translate }}
          .</small>
      </div>
      <h3><span
        class="badge badge-pill badge-success left">{{anteilNeededForAimReturnDayPool | number: '1.4-4' }}
        {{ 'share' | translate }} = {{dfiNeededForAimReturnDayPool | number: '1.2-2' }}
        DFI / {{btcNeededForAimReturnDayPool | number: '1.3-3' }} {{poolLmCalculationTargetReturn}}
              </span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturnHourBtcPool">DFI per {{ 'hour' | translate }}</label>
        <input required [(ngModel)]="aimReturnHourPool" (ngModelChange)="onChangeAimReturnHourPool($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnHourBtcPool"
               placeholder="Enter dfi amount">
        <small class="form-text text-muted">{{ 'target-reward-input' | translate }} {{ 'hour' | translate }}
          .</small>
      </div>
      <h3><span
        class="badge badge-pill badge-success left">{{anteilNeededForAimReturnHourPool | number: '1.4-4' }}
        {{ 'share' | translate }} = {{dfiNeededForAimReturnHourPool | number: '1.2-2' }}
        DFI / {{btcNeededForAimReturnHourPool | number: '1.3-3' }} {{poolLmCalculationTargetReturn}}
              </span></h3>
    </div>
    <div class="col-sm bg-light margin-col">
      <div class="form-group">
        <label for="aimReturnDayBtcPool">DFI per {{ 'month' | translate }}</label>
        <input required [(ngModel)]="aimReturnMonthPool"
               (ngModelChange)="onChangeAimReturnMonthPool($event)"
               type="number"
               class="form-control form-control-sm" id="aimReturnMonthPool" placeholder="Enter dfi amount">
        <small
          class="form-text text-muted">{{ 'target-reward-input' | translate }} {{ 'month' | translate }}
          .</small>
      </div>
      <h3><span
        class="badge badge-pill badge-success left">{{anteilNeededForAimReturnMonthPool | number: '1.4-4' }}
        {{ 'share' | translate }} = {{dfiNeededForAimReturnMonthPool | number: '1.2-2' }}
        DFI / {{btcNeededForAimReturnMonthPool | number: '1.3-3' }} {{poolLmCalculationTargetReturn}}
              </span></h3>
    </div>
  </div>
</div>
