<div>
  <select
    class="bg-gray-100 px-3 py-2 rounded-md w-40 dark:bg-gray-700 dark:text-gray-100"
    (change)="onChangeCPCurrency($event.target.value)"
    value="coinpaprikaCurrency"
  >
    <option value="BTC">BTC</option>
    <option value="BCH">BCH</option>
    <option value="ETH">ETH</option>
    <option value="LTC">LTC</option>
    <option value="DOGE">DOGE</option>
    <option value="USDT">USDT</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="CHF">CHF</option>
    <option value="GBP">GBP</option>
  </select>

</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mt-2">
  <div id="tradingview_59a11"></div>
</div>
<!-- TradingView Widget END -->

<br>
<br>
