
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  margin-right: 2px;
}

::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ff00af;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dd0e9b;
}

::-webkit-scrollbar-thumb:active {
  background: #ff00af;
}

::-webkit-scrollbar-track {
  background: #f4f3f6;
  border: 0px none #ffffff;
  border-radius: 98px;
}

::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}

::-webkit-scrollbar-track:active {
  background: #f4f3f6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.toast-success {
  background: #11b981!important;
  box-shadow: none!important;
}

.hide-content {
  font-size: 0px;
}

.hide-content::after {
  content: '*****';
  font-size: 12px;
}
